@import "varibles";
@import "mixins";


//container
	.container{
		margin: 0 auto; padding: 0 15px;
		.box-sizing-mixin(border-box);
	}
	.container-fluid {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	    .box-sizing-mixin(border-box);
	}
	.container-generator-mixin(@containerMedia, @cantainerArray);


//row
	.row{
		margin: 0 -15px;
		.clearfix;
	}

//span, offset, hidden, visible
	[class*="span"] {
		float: left;
		width: 100%;
		display: inline-block;
		padding: 0 15px;
		min-height: 1px;
		.box-sizing-mixin(border-box);
		img {
			max-width: 100%;
		}
		&:last-child {
			margin-right: 0;
		}	
	}
	
	[class*="visible-"] {display: none !important;}
	.hidden {display: none;}
	
	.grid-generator-once-mixin(~'xx', @xx-fix, 12);
	.grid-generator-mixin(@mediaArray, @mediaFixArray, @spanArray, 12);
	.mb-mixin(@margins-bottom);

.clearfix {
	&:after{
		display: block;
		content: '';
		height: 0;
		visibility: hidden;
		clear: both;
	}
}
















