* {
	margin: 0;
	padding: 0;
	-webkit-print-color-adjust: exact;
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	padding: 30mm 10mm 50mm 10mm;
	box-sizing: border-box;
}


.print-container {
	width: 210mm;
	margin: 0 auto;
	.print-page {
		// padding: 10mm;
		position: relative;
	}
}

p {
	margin-bottom: 30px;
}

.break {
	page-break-after: always;
}

.static {
	position: fixed;
	background: #c00;
	top:0; left: 0;
	right: 0;
}