@import "varibles";
@import "grid";


@media @xx-fix {
	.mb-xx-30 {
		margin-bottom: 30px;
	}
	.hidden-xx {
		display: none;
	}
	.empty-page {
		.container {
			background: url(images/404b-576.jpg) 60px bottom no-repeat;
			background-size: 370px auto;
			height: 330px;
			img {
				display: none;
			}
		}
		.page-title {
			top: 0;
			left: 0;
			font-size: 22px;
			position: initial;
			text-align: center;
			margin: 0;
		}
		.page-content {
			display: none;
		}
		.links-block {
			display: none;
		}
		.link-home {
			background: #c00;
			bottom: 0;
			left: 0;
		}
	}
	.lirax-new-calc {
		padding: 15px;
		.inp-block {
			margin-top: 5px;
		}
		.block-hide {
			+ .action-block {
				margin-top: 20px;
				display: block;
			}
		}
		.action-block {
			margin-top: 0;
			display: none;
		}
		.shohidelink {
			display: block;
    		white-space: normal;
    		border: none;
    		text-decoration: underline;
		}
	}
	.youtube-iframe {
		margin: 0 auto;
	    width: 100%;
	    max-width: 320px;
	    height: 200px;
	    margin-bottom: 10px;
	    display: block;
	}
	article{
		.clearfix;
		+ article {
			margin: 25px 0;
			padding: 15px 0;
		}
		&.post {
			.entry-header {
				h1.entry-title{
					font-size: 20px;
					line-height: 24px;
				}
				h2.entry-title{
					font-size: 18px;
					line-height: 18px;
				}
			}
			.entry-content{
				font-size: 14px;
				p {
					+ p {
						margin-top: 10px;
					}
				}
				h3{
					font-size: 18px;
					line-height: 20px;
				}
			}
			.entry-footer{
				font-size: 12px;
				a {
					color: #333;
				}
				.cat-links {
					display: block;
					+ .tags-links {
						margin-left: 0;
					}
				}
				.tags-links {
					display: block;
				}
			}
		}
	}
	.category-news {
		.entry-title {
			font-size: 22px;
			line-height: 24px;
		}
	}
	.single-post {
		article {
			blockquote{
				margin: 0;
			}
		}
	}
	.loginform2{
		padding: 15px 20px;
		background: #0a849b;
		// position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		form {
			.form-title {
				color: #17cbf0;
			    font-weight: 400;
			    font-size: 14px;
			    line-height: 18px;
			    margin-bottom: 10px;
			    text-align: center;
			}
			label {
				color: #17cbf0;
			}
			.checkbox:checked + label:before{
				color: #17cbf0;
			}
			.checkbox:not(checked) + label:before{
				background: transparent;
				border: 1px solid #17cbf0;
			}
			.chekbox-block{
				width: 100px;
				margin: 0 auto;
			}
			.form-control {
				input[type="text"],
				input[type="password"]{
					background: transparent;
					border-color: #17cbf0;
					border-radius: 38px;
					outline: none;
					color: #fff;
				}
				.placeholder-color-mixin(#17cbf0);
				.btn {
					border-radius: 38px;
				}
			}
		}
	}
	.form-modal{
		width: 100%;
		.modal-body{
			padding: 10px;
			> div {
			}
			.modal-title{
				font-size: 18px;
				line-height: 20px;
				padding-top: 10px;
				+ .modal-subtitle{
					margin-top: 5px;
				}
			}
			.modal-subtitle{
				font-size: 14px;
				line-height: 16px;
				+ * {
				    margin-top: 15px;
				}
			}
			.modal-example {
				display: none !important;
			}
		}
		.form {
			.field-group{
				height: inherit;
				border: none;
				margin: 0;
				padding: 0;
				text-align: center;
			}
			.modal-field {
				input[type="text"]{
					width: 100%;
					margin: 0 0 15px; 
					padding: 0 15px;
					height: 40px;
					border-radius: 50px;
					border: 1px solid  #dcdcdc;
					.box-sizing-mixin(~'border-box');
				}
			}
			.btn {
				float: none;
				margin: 0;
				.icons.paper_fly{
				}
			}
		}
	}
	.data-active{
		position: fixed;
		width: 100%;
		height: 100%;
		#shudowWrap{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: fade(#000, 30%);
			z-index: 1050;
		}
	}
	.line-1 {
		.row {
			> [class*="span-xx"] {
				padding: 0;
			}
		}
		#nav_menu_1.menu  {
			border-bottom: 1px solid #1f2f57;
			li {
				padding: 5px;
				// width: 45px;
				&.icon {
					a {
						// padding: 0;
						// text-indent: -9999999px;
						// display: block;
						// position: absolute;
						// left: 0; top: 0;
						// height: 100%;
						// width: 100%;
						margin: 0; padding: 0;
						font-size: 10px;	
						br {
							// display: none;
						}
					}
					&:before {
						// left: 50%;
						// margin-left: -15px;
						content: none;
					}
				}
			}
		}
	}
	.nav-menu-block{
		.main-menu  {
			display: block;
			position: fixed;
		    background: #17cbf0;
		    z-index: 1050;
		    width: 80%;
		    left: 100%;
		    top: 0;
		    bottom: 0;
		    transition: left .4s linear;
		    .box-shadow-mixin(~'none');
		    li {
		    	a {
		    		color: #fff;
		    	}
		    	+ li {
		    		border-top-color: fade(#fff, 30%)
		    	}
		    }
		    .box-sizing-mixin(border-box);
			
			.close-btn {
				position: absolute;
				background: #0a849b;
				height: 38px; line-height: 38px;
				text-align: center;
				width: 38px;
				top: 0; left: 0;
				z-index: 1040;
				padding: 0 10px;
				text-decoration: none;
				color: #fff;
				display: block;
				transition: all .3s linear .1s;
				overflow: hidden;
				.box-sizing-mixin(border-box);
			}
		}
		
		&.open{
			.main-menu{
				left: 20%;
				.box-shadow-mixin(~'0 2px 5px rgba(0,0,0,.5)');
				.close-btn{
					left: -38px;
				}
			}
		}
	}
	.line-2 {
		padding: 10px 0;
		.logo{
			a {
				img{
					width: 90px;
					margin-top: -7px;
				}
			}
		}
		.contacts{
			&.pull-right{
				float: none;
			}
			.cell {
				display: block;
				padding: 0;
				&.phone {
					text-align: right;
					i {
						font-size: 18px;
						line-height: 28px;
					}
					.phone-number {
						font-size: 14px;
						line-height: 28px;
						+ .btn {
							margin-left: 0;
							display: none;
						}
					}
				}
				&.enter{
					display: none;
				}
			}
		}
	}
	.line-3{
		&.navigator{
			position: relative;
			&.fixed {
				.small-logo{
					display: none;
				}
				.menu-btn{
					.box-shadow-mixin(~'0 1px 3px rgba(0,0,0,.3)');
				}
			}
			.menu-btn{
				display: block;
				background: #212e58;
				line-height: 30px;
				height: 30px;
				text-align: center;
				text-decoration: none;
				margin: 0 -15px;
				color: fade(#fff, 80%);
				font-size: 14px;
				text-transform: uppercase;
			}
			.menu, ul{
				display: none;
				position: absolute;
				top: 100%;
				left: -15px;
				right: -15px;
				margin: 0; padding: 0;
				background: #08abd6;
				float: none;
				li {
					display: block;
					float: none;
					font-size: 14px;
					padding: 0;
					a {
						border: none;
						color: #fff;
						padding: 12px 25px;
					}
					+ li {
						border-top: 1px dotted fade(#fff, 20%);
						margin: 0;
					}
					&.current-menu-item{
						background: fade(#000, 30%)
					}
				}
			}
			.open {
				.menu, ul {
					display: block;
					.box-shadow-mixin(~'0 1px 3px rgba(0,0,0,.3)');
				}
			}
		}
	}
	.main-block {
		h1 {
			margin: 20px 0;
		}
	}
	.wrap-block {
		padding: 20px 0;
		&.innerbanner-block{
			padding: 0 0 20px;
		}
		&.header-block, &.main-block, &.footer-block{
			padding: 0;
		}
		h2 {
		    font-size: 18px;
		    line-height: 22px;
		    margin: 0 0 15px;
		    font-weight: 300;
		    + .desc {
		    	margin-top: 0;
		    	font-size: 16px;
		    	line-height: 20px;
		    	margin-bottom: 10px;
		    }
		}
	}
	#lirax{
		&.main-block{
			h1{
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 20px;
				b {
					font-size: 22px;
				}
			}
			.product-name{
				font-size: 16px;
				margin-bottom: 20px;
				line-height: 22px;
				b {
					font-weight: 300;
				    font-size: 30px;
				    color: #15D7FF;
				    sup {
					    font-size: 15px;
					    top: -1em;
					    text-decoration: underline;
					}
					span {
					    font-size: 16px;
					    font-weight: 100;
					    color: #fff;
					    margin-left: -3px;
					}
				}
			}
			.action-block {
			    margin-bottom: 20px;
			    margin-top: 30px;
			    text-align: center;
			}
			.payer-block {
				padding-top: 0;
				display: none;
			}
			.action-text {
				text-align: left;
				background: fade(#000, 10%);
				padding: 20px;
				color: fade(#15d7ff, 100%);
				margin: 0 -15px;
			}
			.more-block {
				display: none;
			}
		}
	}
	.howphonework-block{
		p {
			margin: 0 0 12px;
			font-size: 14px;
			line-height: 18px;
		}
		.no-padd-right {
			padding: 0 15px;
		}
	}
	.whatyouneed-block {
		.equipment-block{
			position: relative;
			@hv: 72px;
			.equipment-list {
				margin: 0 15px;
				height: inherit;
				.clearfix;
				&:before {
					content: none;
				}
				li {
					border: 2px solid #fff;
					height: @hv; width: @hv;
					line-height: @hv;
					img {
						max-width: 50%;
					}
					span {
						display: none;
					}
				}
			}
			.oror {
				&:before, &:after{
					content: none;
				}
			}
		}
	}
	.howmakebuisiness-block-small{
		padding: 0;
		&:before, &:after{
			content: none;
		}
		.title {
			display: block;
		}
	}
	.howmakebuisiness-block {
		.title{
			padding: 10px;
			margin-bottom: 0;
			br {
				display: none;
			}
			span{
				display: block;
				height: inherit;
				&.pic {
					float: left;
					width: 40px;
				}
				&.text {
					margin-left: 50px;
					line-height: 20px;
				}
			}
			.clearfix;
		}
		 ol{
		 	padding: 0 0 0 10px;
		 	margin-bottom: 0;
		 	li{
		 		padding: 10px 0 10px 15px;
		 		&:before{
		 			font-size: 22px;
		 			padding-top: 5px;
		 		}
		 		line-height: 18px;
		 	}
		 }
	}
	.buisinessteps-block {
		.steps-inline{
			&.visible-xx{
				display: table-row;
				li {
					display: table-cell;
					vertical-align: middle;
					a {
						padding: 0;
						height: 54px;
						line-height: 54px;
						i {
							display: none;
						}
						&.active{
							i {
								display: none;
							}
						}
					}
				}
			}
		}
		.tab {
			padding: 10px;
			.image {
			    width: 45px;
			    text-align: center;
			}
			.title {
			    margin-left: 55px;
			    font-size: 16px;
			    border-bottom: 1px solid #000;
			    line-height: 20px;
			    padding-bottom: 15px;
			    position: relative;
			}
			.desc {
			    margin-left: 0;
			    padding-top: 15px;
			    position: relative;
			    .clearfix;
			    p {
			    	font-size: 14px;
			    	line-height: 18px;
			    }
			    &:before {
				    margin-left: 22px;
				}
			}
		}
	}
	.whywebest-block{
		&.wrap-block h2 + .desc {
		    font-size: 14px;
		   	line-height: 20px;
		    font-weight: 100;
		    p {
		    	line-height: 20px;
		    }
		}
		h3 {
			margin-bottom: 0;
			padding: 0;
		}
		.bad-asterisk-list{
			.tstyle-1{
				display: block;
				.table-row{
					display: block;
					> .cell {
						display: block;
						width: 100%;
						padding: 0;
						border: none;
						font-size: 14px;
						line-height: 20px;
						.box-sizing-mixin(~'border-box');
						> .cell {
							display: block;
							width: inherit;
							text-align: center;
							.dig{
								display: block;
								font-size: 50px;
    							line-height: 82px;
    							margin-top: 0;
								&:before{
									height: 40px;
									width: 40px;
									margin-left: -20px;
								}
							}
							.cell {
								font-size: 16px;
								font-weight: 100;
								line-height: 20px;
								display: block;
							}
							.clearfix;
						}

						&:before, &:after {
							content: none;
						}
					}
				}
			}
		}
	}
	.sertificats-block {
		h3 {
			margin-bottom: 20px;
		}
		.desc {
			
			p {
				margin: 0 0 12px;
			}
		}
		#sertifSlider{
			margin-bottom: 50px;
			.bx-wrapper {
				.bx-controls-direction {
					a{
						margin-top: 0;
						top: 100%;
						background: #3b2876;
						height: 36px;
						width: 36px;
						line-height: 36px;
						margin-right: -4px;
						&:before{
							line-height: 36px;
						}
						&.bx-prev{
							left: inherit;
							right: 38px;
						}
						&.bx-next{
							right: 0;
						}
					}
				}
				.bx-viewport {
					.slider {
						li {
							.text{
								padding: 5px 10px;
							}
							p {
								font-size: 14px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
		.sert-img {
			a {
				display: block;
				float: left;
				box-sizing: border-box;
				width: 48%;
				+ a {
					margin-left: 4%;
				}
			}
			.clearfix;
		}
	}
	.aboutsystem-block {
		padding-top: 20px;
		.system-tabs {
			margin-top: 0;
			.tabsControls {
				position: relative;
				> .pull-left, > .pull-right {
					float: none;
				}
				.center-block {
					margin: 30px 0 0;
					padding: 0;
					.pic {
						display: block;
						margin-bottom: 10px;
						img {
							max-width: 100px;
						}
					}
					.title{
						text-align: left;
						margin-left: 0;
						margin-bottom: 20px;
						font-size: 16px;
						font-weight: 400;
						line-height: 20px;
					}
					.desc {
						margin-left: 0;
						p {
							margin: 0 0 8px;
							font-size: 14px;
						}
						ul {
							li {
								font-size: 14px;
								line-height: 16px;
							}
						}
					}
				}
				.sys-list {
					width: 100%;
					margin: 0; padding: 0;
					li {
						display: block;
						float: left;
						margin: 0;
						text-align: center;
						width: 100% / 6;
						// background: #ccc;
						height: inherit;
						a {
							display: table-cell;
							padding: 0 10px;
							height: 50px;
							vertical-align: middle;
							.box-sizing-mixin(~'border-box');
							position: inherit;
							&.active{
								&:before {
									content: none;
								}
								span {
									&.name {
										display: block;
									}
								}
							}
							span {
								display: block;
								text-align: center;
								&.name {
									display: none;
								    position: absolute;
									top: 100px;
									color: #b50672;
									left: 0;
									right: 0;
									font-size: 16px;
									font-weight: 400;
									width: 100%;

								}
								&.icon {
									width: inherit;
									max-width: 36px;
									img{
										
									}
								}
							}
						}
					}
					.clearfix;
				}
				.pull-left {
					.sys-list {
						border: none;
						li {
							a{
								&.active:before{
									content: none;
								}
							}
						}
					}
				}
				.pull-right {
					.sys-list {
						border: none;
					}
				}
			}
		}
	}
	.functions-block {
		.tstyle-1 {
			> .table-row {
				> .cell {
					display: block;
					width: inherit;
					border-left: none;
					border-top: none;
					border-bottom: 1px dotted #d9d9d9;
					&:before, &:after{
						content: none;
					}
				}
				&:last-child{
					> .cell {
						&:last-child, &:first-child{
							display: none;
						}
					}
				}
			}
		}
	}
	.calculatetarif-block{
		.tabsControls {
			a {
				font-size: 16px;
			}
		}
		.row-calc {
			h3{
				margin-bottom: 0;
				font-size: 16px;
			}
			.calc-price-sum{
				text-align: center;
				a {
					float: none;
					display: inline-block;
    				margin-top: 10px;
				}
			}
		}
		
		.calc-label {
			padding-bottom: 40px;
			text-align: center;
		}
		.radio-wrap {
			+ .radio-wrap {
				margin-top: 10px;
			}
		}
		.tabs {
			padding: 15px;
		}
		.calc-small-form {
			input[type="text"], .btn{
				margin: 0;
				display: block;
				float: none;
				margin: 0 auto;
			}
			input[type="text"]{
				margin-bottom: 10px;
			}
			form{
				margin-top: 10px;
				float: none;
			}
			.clearfix;
		}
	}
	#crm.main-block {
		background-position: left top;
		height: inherit;
		h1 {
			font-size: 18px;
			line-height: 24px;
		}
		.desc {
			font-size: 16px;
		    line-height: 22px;
		    padding-right: 0;
		    margin-bottom: 20px;
		}
		.action-block {
			margin-bottom: 30px;
			text-align: center;
		}	
	}
	#crmProp{
		.ui-accordion {
			.ui-accordion-header{
				outline: none;
				border: 1px solid #00c2e8;
				background: #00c2e8;
				color: #fff;
				font-weight: 300;
				font-size: 16px;
				font-family: @Roboto;
				&.ui-state-active{
					background: #fff;
					border-color: #00c2e8;
					color: #00c2e8;
				}
				.ui-accordion-header-icon {
					text-indent: 0;
					background: 0;
				}
			}
			.ui-accordion-content{
				padding: 15px 0;
				border: none;
				background: none;
				.slide {
					padding: 0 20px 10px;
				}
				.title {
					.image {
						padding-right: 10px;
						width: 36px;
					}
				}
				.desc {
					font-weight: 300;
					font-size: 14px;
					p {
						margin-top: 0;
						font-family: @Roboto;
					}
				}
			}
		}
	}
	#callback {
		&.main-block {
			h1 {
				font-size: 18px;
				line-height: 22px;
			}
			.action-block{
				margin-bottom: 30px;
			}
			.action-text {
				margin: 0 0 20px;
				line-height: 24px;
			}
			.payer-block {
				margin: 0;
			}
		}
	}
	.why-widget-click{
		.line {
			.pic{
				float: none;
				text-align: center;
				img{
					float: none;
					max-width: 80px;
				}
			}
			.text {
				float: none;
				width: inherit;
				margin: 0;
				text-align: center;
				.title {
					margin: 0;
					padding: 0;
				}
			}
			+ .line {
				margin-top: 40px;
			}
		}
	}
	.about-service-block {
		.article {
			padding: 0;
		}
	}
	.widgeg-techspec-block {
		.toggle-wrap {
			.toggle-btn {
				padding: 0;
			}
			.icon{
				margin-bottom: 0;
				height: 70px;
				i{
					&:before{
						font-size: 40px;
						line-height: 70px;
					}
				}
			}
			.title {
				display: none;
			}
		}
	}
	.widget-info-block{
		&.style-1{
			text-align: center;
			.title {
				font-size: 24px;
				line-height: 24px;
			}
			.subtitle{
				font-size: 20px;
    			line-height: 20px;
			}
		}
		&.style-2 {
			.title {
				font-size: 24px;
				line-height: 24px;
			}
			.subtitle{
				font-size: 20px;
    			line-height: 20px;
			}
		}
		&.style-3{
			.pic {
				i{
					&:before{
						font-size: 70px;
						line-height: 70px;
						margin: 0;
					}
				}
			}
			.title {
				padding-top: 10px;
				font-size: 20px;
				line-height: 22px;
			}
			.subtitle {
				font-size: 20px;
				line-height: 22px;
			}
		}
	}
	.widget-tarifs-block {
		.tarif-list {
			li {
				width: auto;
				float: none;
				.wrap {
					margin: 0;
				}
				+ li {
					margin-top: 20px;
				}
			}
			.minuts{
				padding: 20px 0 0;
			}
			li.violet .wrap .subminuts{
				height: inherit;
			}
			.subminuts, {
				height: inherit;
				margin-bottom: 10px;
			}
		}
		.tarif-h {
			> * {
				display: block;
			}
			.title{
				width: inherit;
				height: inherit;
				padding: 10px 0;
				&:after{
					content: none;
				}
			}
			.minuts, .price, .action-btn-block {
				width: inherit;
				padding: 10px 0;
			}
		}
	}
	.onlinepresetation-block {
		.action-btn-block {
			.btn {
				display: block;
				padding: 10px;
				font-size: 16px;
				i {
					margin: 0;
				}
			}
		}
	}
	#calltracking{
		&.main-block {
			background: #00659b;
			h1{
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 18px;
				line-height: 22px;
			}
			.product-name {
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 24px;
				b {
					font-size: 30px;
				}
			}
			.action-block{
				margin-bottom: 20px;
			}
			.action-text{
				font-size: 14px;
				line-height: 18px;
				margin: 0 0 20px;
			}
			.payer-block {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
	.instruction-block {
		background: #1d1a67;
		.instruction {
			.resume{
				margin: 0;
				.tablestyle {
					display: block;
					.cell {
							display: block;
						&:nth-child(1), &:nth-child(3){
							display: none;
						}
						&:nth-child(2) {
							display: block;
							width: auto;
						}
					}
				}
				span {
					font-size: 20px;
					line-height: 24px;
				}
			}
			.manual {
				position: initial;
				.box-sizing-mixin(~'border-box');
				&:before, &:after{
					content: none;
				}
				height: auto;
				margin-bottom: 20px;
				li {
					width: initial;
					float: none;
					padding: 0 15px;

					+ li {
						margin-top: 15px;
					}
					.tablestyle {
						display: block;
						float: left;
						width: auto;
						.cell {
							display: block;
							&:nth-child(1), &:nth-child(3){
								display: none;
							}
							&:nth-child(2) {
								width: 60px;
							}
						}
					}
					.circle {
						height: 36px;
						width: 36px;
						line-height: 36px;
						&:before, &:after{
							content: none;
						}
						span {
							&:after{
								content: none;
							}
							&:before{

							}
						}
					}
					.line2 {
						display: none;
					}
					.title {
						position: initial;
						font-size: 15px;
						line-height: 16px;
						text-align: left;
						display: block;
					}
					.clearfix;
				}
			}
		}
	}
	.forwho-block {
		.wholist {
			> li {
				float: none;
				width: 100%;
				height: auto;
				margin-bottom: 20px;
				.title {
					padding: 15px 0;
					font-size: 22px;
				}
				ul {
					li {
						line-height: 22px;
						padding: 15px 0;
					}
				}
				&:nth-child(2){
					margin: 0 0 20px;
					height: auto;
					.title {
						padding: 15px 0;
						font-size: 22px;
					}
				}
			}
		}
		.action-btn-block {
			margin-top: 20px;
			.btn{
				+ .btn {
					margin: 15px 0 0;
				}
			}
		}
	}
	.howitworks-block {
		.one, .two, .three, .four{
			padding: 20px 0;
			.text {
				margin: 0 0 0 40px;
				padding: 0;
				font-weight: 100;
				font-size: 14px;
			}
			.block {
				padding-top: 0;
			}
			.number {
				font-size: 30px;
				width: 40px;
				line-height: 30px;
				float: left;
			}
		}
		.resume {
			span {
				padding: 20px 0;
				font-size: 16px;
				line-height: 20px;
				font-weight: 400;
			}
		}
	}
	.article{
		padding: 20px;
		h3 {
			font-size: 18px;
		}
		p {
			margin: 0 0 12px;
		}
		ol, ul {
			margin: 0;
			padding: 0 0 0 15px;
		}
	}
	.youtake-block {
		background: #c6cacb;
		.body-block {
			padding: 10px;
			ul {
				margin: 0;
				li {
					padding: 10px 0;
					line-height: 20px;
					font-size: 16px;
				}
			}
			> *:first-child{
				ul {
					li:last-child{
						border-bottom: 2px solid rgba(0, 0, 0, 0.14);
					}
				}
			}
		}
	}
	#lookslider {
		display: none;
		padding: 0;
		margin-bottom: 30px;
		.bx-wrapper .bx-caption span{
			font-size: 16px;
			line-height: 20px;
		}
	}
	.calculate-block {
		background: #deebf6;
		.calcBlock {
			padding: 20px;
			.tablestyle {
				display: block;
				padding-bottom: 15px;
				padding-top: 15px;
				.clearfix;
				.cell {
					display: block;
					padding: 0;
					label{
						display: block;
						font-size: 14px;
						line-height: 18px;
						margin-bottom: 5px;
					}
					&:nth-child(1){}
					&:nth-child(2){
						width: initial;
						margin-right: 60px;
						padding-top: 15px;
					}
					&:nth-child(3){
						float: right;
						width: 55px;
						margin-top: -20px;
					}
				}
			}
			.itog {
				.tablestyle {
					.cell {
						float: none;
						text-align: center;
						margin: 0;
						padding: 0;
						width: initial;
					}
					.totalNumbers {
						font-size: 16px;
						text-align: center;
						margin-bottom: 20px;
						#totalNumbers{
							font-size: 22px;
						}
					}
					
				}
			}
		}
		.calculator{
			.action-btn-block {
				margin-top: 30px;
				.helplink {
					position: relative;
				}
			}
		}
	}
	.contacts-block {
		form {
			.form-control {
				.action-btn-block{
					margin-top: 15px;
					text-align: center;
				}
			}
		}
		.cont-list {
			li {
				height: 22px;
				line-height: 22px;
				font-size: 14px;
				padding-left: 28px;
				img {
					max-width: 15px;
				}
			}
		}
		.gmap {
			height: 160px;
		}
	}
	.liraxPartner {
		blockquote {
			margin-left: 0;
		}
		.page-title-block {
			background-size: 320px;
			h1 {
				width: initial;
				font-size: 24px;
				line-height: 28px;
				padding: 20px 0;
			}
			.action-block{
				margin: 0 0 70px;
			}
		}
	}
	.accordion-kyivstar{
		
		&.ui-accordion {
			.ui-accordion-header{
				font-size: 14px;
				line-height: 16px;
				font-weight: 300;
				padding-top: 10px;
				padding-right: 29px;
				height: 49px;
				.box-sizing-mixin(border-box);
				.ui-accordion-header-icon{
					height: 49px;
					width: 29px;
					line-height: 49px;
				}
				img{
					display: none;
					margin-bottom: 5px;
				}
				.clearfix;
			}
			.ui-accordion-content {
				.answer-block {
					padding: 10px;
					.tabsControls {
						.menu {
							li{
								a {
									padding: 10px;
									.num {
										width: 40px;
										font-size: 14px;
										line-height: 18px;
										float: none;
										display: inline;
									}
									.name {
										margin: 0;
										padding: 0;
										font-size: 14px;
										font-weight: 400;
										display: inline;

									}
								}
							}
						}
					}
					.tabs {
						padding: 10px;
					}
				}
			}
		}
	}
	
	.wrap-block{
		&.innerbanner-block{
			padding: 0 0 20px;
		}
	}
	
	.innerbanner{
		&-one{
			padding: 10px 0;
			.left-side {
				display: block;
				width: initial;
				.title {
					font-size: 22px;
					font-weight: 300;
					line-height: 22px; 
				}
				.pic {
					width: 60px;
					padding-right: 10px;
					img {
					}
				}
			}
			.right-side {
				border-left: none;
				padding-left: 0;
				margin-top: 10px;
				.desc, .action-block {
					display: block;
					
				}
				.desc {
					margin-top: 15px;
					&-title{
						font-size: 18px;
					}
				}
				.action-block {
					width: initial;
					text-align: center;
					margin-top: 10px;
				}
			}
		}
		&-two {
			.clearfix;
			.left-side, .right-side{
				float: left;
				width: 100%;
				display: inline-block;
			}
			.left-side{
				.pic{
					.clearfix;
					img{
						max-width: 100%;
						float: left;
					}
				}
			}
			.right-side{
				box-sizing: border-box;
				padding-left: 0;
				.title{
					color: #fff;
					font-size: 26px;
					line-height: 26px;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				.desc-title{
					color: #ff0;
					font-size: 16px;
					margin-bottom: 10px;
				}
				.desc-text{
					color: fade(#fff, 80%);
					font-size: 14px;
					margin-bottom: 10px;
				}
				.action-block {
					text-align: center;
				}
			}
		}	
	}
	.liraxPartner {
		.page-title-block {
			padding-top: 0;
		}
	}
	.main-block-white {
		padding-top: 0;
		padding-bottom: 60px;
		h1{
			text-transform: initial;
			font-size: 20px;
			margin-bottom: 30px;
			b {
				font-size: 22px;
			}
			span {
				text-transform: initial;
				font-size: 20px;
				&:after{
					content: none;
				}
			}
		}
		.inline-block {
			.desc {
				font-size: 16px;
			}
		}
		.super-ip-list {
			.text {
				padding-bottom: 20px;
			}
		}
		.clients-list {
			.title{
				padding: 0;
				font-size: 16px;
				line-height: 20px;
			}
			.clist {
				padding: 0;
				li {
					padding: 0;
					height: 20px;
					margin: 3px;
				}
				a {
					height: 20px;
					img {
						max-height: 20px;
						height: 20px;
					}
				}
			}
		}
		.action-block{
			text-align: center;
			.action-text {
				margin: 0;
				text-align: center;
				font-size: 12px;
			}
		}
	}
	.howmakebuisiness-block-small{
		h2{
			background: #fff;
			margin: 0;
			right: 0;
			left: 0;
			text-align: center;
			color: #333;
			font-weight: 400;line-height: 32px;
			height: 30px;
		}
	}
	.default-page {
		.table{
			&.table-partner{
				font-size: 14px;
				b{
					font-size: 15px;
				}
				thead {
					tr {
						th {
							font-size: 16px;
						}
					}
				}
				tbody{
					tr {
						td {
							width: 30px;
							padding-top: 10px;
							padding-bottom: 10px;
							&.t-title{
								b {
									font-size: 16px;
								}
								width: initial;
								padding-left: 10px;
								padding-right: 10px;
							}
							&.t-footer{
								padding-top: 5px;
								padding-bottom: 5px;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}

@media @xs-fix {
	.mb-xs-30 {
		margin-bottom: 30px;
	}
	.hidden-xs {
		display: none;
	}
	.empty-page {
		.page-title {
			top: 0;
			left: 0;
			font-size: 32px;
		}
		.page-content {
			top: 105px;
			left: 0;
			font-size: 14px;
			line-height: 20px;
			width: 350px;
		}
		.links-block {
			display: block;
			position: absolute;
			width: 200px;
			top: 113px;
			right: 60px;
			.links{
				position: initial;
				width: initial;
				height: initial;
				border-radius: 0;
				font-size: 14px;
				text-decoration: underline;
				padding: initial;
				line-height: 16px;
				+ a {
					margin-top: 20px;
				}
			}
		}
	}
	.youtube-iframe{
		height: 355px;
	}
	.form-modal{
		width: 580px;
		.form {
			.field-group{

			}
			.modal-field {
				input[type="text"]{
					width: 170px;
				}
			}
			.btn {
				padding: 12px 18px;
				border-top-left-radius: 0;
    			border-bottom-left-radius: 0;
				.icons.paper_fly{
					border-left: none;
					text-align: center;
    				margin: -9px 0 -9px -8px;
    				width: 22px;
				}
			}
		}
	}
	.line-1 {
		.row {
			> [class*="span-xx"] {
				padding: 0;
			}
		}
		#nav_menu_1.menu  {
			li {
				padding: 5px 10px;
				&.icon {
					&:before{content: none;}
					a {
						padding-left: 0;
					}
				}
			}
		}
	}
	.line-2 {
		padding: 10px 0;
		.logo{
			a {
				img{
					width: 90px;
					margin-top: -7px;
				}
			}
		}
		.contacts{
			&.pull-right{
			}
			.cell {
				padding: 0;
				&.phone {
					padding-right: 10px;
					text-align: right;
					i {
						font-size: 18px;
						line-height: 28px;
					}
					.phone-number {
						font-size: 14px;
						line-height: 28px;
						+ .btn {
							margin-left: 0;
							display: none;
						}
					}
				}
				&.enter{
					padding-left: 10px;
					.loginform{
						top: 40px;
					}
				}
			}
		}
	}
	.line-3{
		&.navigator{
			.menu, ul {
			 	li {
			 		padding: 0 10px;
			 		a {
			 			font-size: 14px;
			 			font-weight: 100;
			 		}
			 		+ li {
			 			margin-left: 10px;
			 		}
			 	}
			}
			&.fixed{
				 .small-logo{
				 	display: none;
				 }
			}
		}
	}
	.wrap-block {
		padding: 30px 0;
		&.header-block, &.main-block, &.footer-block{
			padding: 0;
		}
		h2 {
		    font-size: 30px;
		    line-height: 30px;
		    margin: 0 0 20px;
		    padding: 0;
		    font-weight: 100;
		    text-align: center;
		    + .desc {
		    	margin-top: 0;
		    	font-size: 16px;
		    	line-height: 20px;
		    	margin: 0 30px 10px;
		    	font-weight: 300;
		    }
		}
	}
	.main-block {
		h1 {
			margin: 30px 0;
		}
	}
	#lirax{
		&.main-block{
			padding: 60px 0 0;
			h1{
				font-size: 20px;
				line-height: 22px;
				margin-bottom: 20px;
				b {
					font-size: 26px;
				}
			}
			.product-name{
				font-size: 16px;
				margin-bottom: 20px;
				line-height: 22px;
				b {
					font-weight: 300;
				    font-size: 30px;
				    color: #15D7FF;
				    sup {
					    font-size: 15px;
					    top: -1em;
					    text-decoration: underline;
					}
					span {
					    font-size: 16px;
					    font-weight: 100;
					    color: #fff;
					    margin-left: -3px;
					}
				}
			}
			.action-block {
			    margin-bottom: 20px;
			    margin-top: 30px;
			    text-align: left;
			}
			.payer-block {
				padding-top: 0;
				display: none;
			}
			.action-text {
				text-align: left;
				background: fade(#000, 10%);
				padding: 20px;
				color: fade(#15d7ff, 100%);
				margin: 0 -15px;
			}
			.more-block {
				display: none;
			}
		}
	}

	.howphonework-block {
		p{
			margin: 0 0 12px;
		}
	}
	.whatyouneed-block {
		.equipment-block{
			position: relative;
			@hv: 100px;
			.equipment-list {
				
				height: 150px;
				.clearfix;
				&:before {
					top: 50px;
				}
				li {
					border: 2px solid #fff;
					height: @hv; width: @hv;
					line-height: @hv;
					img {
						max-width: 50%;
					}
					span {
						font-size: 14px;
						line-height: 16px;
						bottom: -50px;
					}
				}
			}
			.oror {
				top: 50px;
				&:after{
					margin-right: -35px;
				}
				&:before{
					margin-left: -35px;
				}
			}
		}
	}
	.howmakebuisiness-block-small{
		padding: 0;
		background: #9a0e6f;
		&:before, &:after{
			left: 0;
			right: 0;
			height: 108px;
		}
		&:before{
			bottom: initial;
		}
		&:after{
			top: initial;
			bottom: 0;
		}
		.title {
			display: block;
		}
	}
	.howmakebuisiness-block {
		.title{
			margin-bottom: 0;
			font-size: 18px;
			span{
				height: 60px;
			}
			.clearfix;
		}
	}
	.buisinessteps-block {
		.steps-inline{
			li {
				@hw: 54px;
				width: 110px;
				a {
					height: @hw;
					padding-right: @hw - 35;
					line-height: @hw;
					font-size: 16px;
					i.fa {
						height: @hw - 2;
						width: @hw - 35;
						line-height: @hw - 2;
					}
					&.active{
						i {
						}
					}
				}
			}
		}
		.tab {
			padding: 10px;
			.image {
			    width: 45px;
			    text-align: center;
			}
			.title {
			    margin-left: 55px;
			    font-size: 16px;
			    border-bottom: 1px solid #000;
			    line-height: 20px;
			    padding-bottom: 15px;
			    position: relative;
			}
			.desc {
			    margin-left: 0;
			    padding-top: 15px;
			    position: relative;
			    .clearfix;
			    p {
			    	font-size: 14px;
			    	line-height: 20px;
			    }
			    &:before {
				    margin-left: 22px;
				}
			}
		}
	}
	.whywebest-block{
		padding-top: 60px;
		&.wrap-block h2 + .desc {
		    font-size: 14px;
		   	line-height: 20px;
		    font-weight: 100;
		    p {
		    	line-height: 20px;
		    }
		}
		h3 {
			margin-bottom: 0;
			padding: 0;
		}
		.bad-asterisk-list{
			.tstyle-1{
				.table-row{
					> .cell {
						font-size: 14px;
						line-height: 20px;
						> .cell {
							&:first-child{
								width: 60px;
							}
							.dig{
								font-size: 40px;
								height: 40px;
								width: 40px;
								line-height: 40px;
								margin: 0;
								position: relative;
								&:before{
									height: 40px;
									width: 40px;
									margin: 0;
									left: 0;
									top: -7px;
								}
								em {
									display: block;
								}
							}
							.cell {
							}
						}

						&:before, &:after {
						}
					}
				}
			}
		}
	}
	.sertificats-block {
		h3 {
			margin-bottom: 20px;
		}
		.desc {
			
			p {
				margin: 0 0 12px;
			}
		}
		#sertifSlider{
			margin-bottom: 50px;
			.bx-wrapper {
				.bx-controls-direction {
					a{
						margin-top: 0;
						top: 100%;
						background: #3b2876;
						height: 36px;
						width: 36px;
						line-height: 36px;
						margin-right: -4px;
						&:before{
							line-height: 36px;
						}
						&.bx-prev{
							left: inherit;
							right: 38px;
						}
						&.bx-next{
							right: 0;
						}
					}
				}
				.bx-viewport {
					.slider {
						li {
							.text{
								padding: 5px 10px;
							}
							p {
								font-size: 14px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
		.sert-img {
			a {
				display: block;
				float: left;
				box-sizing: border-box;
				width: 48%;
				+ a {
					margin-left: 4%;
				}
			}
			.clearfix;
		}
	}
	.aboutsystem-block {
		padding-top: 60px;
		.system-tabs {
			margin-top: 0;
			.tabsControls {
				position: relative;
				> .pull-left, > .pull-right {
					float: left;
					width: 50%;
				}
				.center-block {
					margin: 80px 0 0;
					padding: 0;
					.pic {
						float: left;
					}
					.title{
						text-align: left;
						margin-left: 170px;
						margin-bottom: 20px;
					}
					.desc {
						margin-left: 170px;
						p {
							margin: 0 0 18px;
						}
					}
				}
				.sys-list {
					width: 100%;
					margin: 0; padding: 0;
					li {
						display: block;
						float: left;
						margin: 0;
						text-align: center;
						width: 100% / 6;
						// background: #ccc;
						height: inherit;
						a {
							display: table-cell;
							padding: 0 10px;
							height: 50px;
							vertical-align: middle;
							.box-sizing-mixin(~'border-box');
							position: inherit;
							&.active{
								&:before {
									content: none;
								}
								span {
									&.name {
										display: block;
									}
								}
							}
							span {
								display: block;
								text-align: center;
								&.name {
									display: none;
								    position: absolute;
									top: 240px;
									color: #b50672;
									left: 15px;
									font-size: 16px;
									font-weight: 400;
									width: 154px;

								}
								&.icon {
									width: inherit;
									max-width: 36px;
									img{
										
									}
								}
							}
						}
					}
					.clearfix;
				}
				.pull-left {
					.sys-list {
						border: none;
						li {
							a{
								&.active:before{
									content: none;
								}
							}
						}
					}
				}
				.pull-right {
					.sys-list {
						border: none;
					}
				}
			}
		}
	}
	.functions-block {
		.tstyle-1{
			 > .table-row {
			 	> .cell{
			 		font-size: 14px;
			 		vertical-align: top;
			 		.cell{
			 			text-align: center;
			 			width: 100%;
			 			display: block;
			 			&:first-child{
			 				text-align: center;
			 				display: block;
			 				width: 100%;
			 				height: 50px;
			 			}
			 		}
			 	}
			 }
		}
	}
	.calculatetarif-block {
		padding-top: 60px;
		.row-calc {
			margin-bottom: 20px;
			h3{
				// margin-bottom: 0;
			}
		}
		.calc-label{
			// text-align: left;
		}
		.calc-price {
			padding-top: 10px;
		}
		.calc-small-form {
			input[type="text"], .btn{
				//width: 90px;
				margin-top: 0;
				margin-bottom: 0;
			}
			form{
				margin-top: 10px;
			}
			.clearfix;
		}
	}
	#crm.main-block {
		height: inherit;
		padding-top: 30px;
		h1 {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 40px;
		}
		.desc {
			font-size: 16px;
		    line-height: 24px;
		    margin-bottom: 40px;
		}
		.action-block {
			margin-bottom: 40px;
			text-align: center;
		}
	}
	#crmProp{
		.ui-accordion {
			.ui-accordion-header{
				outline: none;
				border: 1px solid #00c2e8;
				background: #00c2e8;
				color: #fff;
				font-weight: 300;
				font-size: 16px;
				font-family: @Roboto;
				&.ui-state-active{
					background: #fff;
					border-color: #00c2e8;
					color: #00c2e8;
				}
				.ui-accordion-header-icon {
					text-indent: 0;
					background: 0;
				}
			}
			.ui-accordion-content{
				padding: 15px 0;
				border: none;
				background: none;
				.slide {
					padding: 0 20px 10px;
				}
				.title {
					.image {
						padding-right: 10px;
						width: 36px;
					}
				}
				.desc {
					font-weight: 300;
					font-size: 14px;
					p {
						margin-top: 0;
						font-family: @Roboto;
					}
				}
			}
		}
	}
	#callback{
		&.main-block {
			padding-top: 30px;
			.payer-block {
				margin: 0;
				text-align: center;
				img{
					max-width: 50%;
				}
			}
			.action-block {
				margin-bottom: 30px;
			}
			.action-text{
				margin-bottom: 20px;
			}
		}
	}
	.why-widget-click{
		.line {
			.pic{
				float: none;
				text-align: center;
				img{
					float: none;
					max-width: 80px;
				}
			}
			.text {
				float: none;
				width: inherit;
				margin: 0;
				text-align: center;
				.title {
					margin: 0;
					padding: 0;
				}
			}
			+ .line {
				margin-top: 40px;
			}
		}
	}
	.widget-tarifs-block {
		.tarif-list {
			display: block;
			li {
				width: 100% / 3;
			}
		}
	}
	.widget-info-block.style-2 .pic i:before {
		font-size: 70px;
	    line-height: 70px;
	    margin: 0;
	}
	#calltracking{
		&.main-block {
			h1{
				margin-top: 60px;
				margin-bottom: 20px;
				font-size: 22px;
				line-height: 26px;
			}
			.product-name {
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 24px;
				b {
					font-size: 30px;
				}
			}
			.action-block{
				margin-bottom: 20px;
			}
			.action-text{
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 20px;
			}
			.payer-block {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
	.instruction-block {
		.instruction {
			.manual {
				li {
					.title{
						font-size: 13px;
						line-height: 15px;
						font-weight: 100;
					}
				}
			}
			.resume {
				span {
					font-size: 22px;
					line-height: 22px;
					margin-bottom: 20px;
				}
				.cell {
					.line{
						margin-top: 15px;
					}
				}
			}
		}
	}
	.forwho-block {
		.wholist {
			> li {
				float: none;
				width: 100%;
				height: auto;
				margin-bottom: 20px;
				.title {
					padding: 15px 0;
					font-size: 22px;
				}
				ul {
					li {
						line-height: 22px;
						padding: 15px 0;
					}
				}
				&:nth-child(2){
					margin: 0 0 20px;
					height: auto;
					.title {
						padding: 15px 0;
						font-size: 22px;
					}
				}
			}
		}
	}
	.howitworks-block {
		.block, .three .block{
			padding-top: 0;
		}
		.one, .who, .three, .four {
			padding: 20px 0;
		}
		.resume {
			span {
				padding: 15px 0;
				font-size: 20px;
				line-height: 26px;
			}
		}
	}
	.youtake-block {
		.body-block {
			padding: 10px;
			ul {
				margin: 0;
				li {
					padding: 10px 0;
					line-height: 20px;
					font-size: 16px;
				}
			}
			> *:first-child{
				ul {
					li:last-child{
						border-bottom: 2px solid rgba(0, 0, 0, 0.14);
					}
				}
			}
		}
	}
	#Calculate{
		&.wrap-block{
			h2{
				font-size: 22px;
				line-height: 28px;
			}
		}
	}
	.contacts-block {
		.gmap {
			height: 240px;
		}
	}
	.footer-block{
		.tablestyle {
			.cell {
				&:nth-child(1), &:nth-child(2){
					display: none;
				}
				+ .cell {
					border: none;
				}
			}
		}
	}
	.liraxPartner {
		.page-title-block {
			h1 {
				width: initial;
			}
		}
	}
	.accordion-kyivstar{
		&.ui-accordion {
			.ui-accordion-header{
				font-size: 16px;
				line-height: 16px;
				padding-top: 10px;
				height: 55px;
				.box-sizing-mixin(border-box);
				img{
					float: left;
					margin-top: -5px;
				}
				.ui-accordion-header-icon {
					height: 55px;
					line-height: 55px;
					width: 55px;
				}
				.clearfix;
			}
			.ui-accordion-content {
				.answer-block {
					.tabsControls {
						.menu {
							li{
								a {
									padding: 10px;
									.num {
										width: 40px;
										font-size: 14px;
										line-height: 18px;
										float: none;
										display: inline;
									}
									.name {
										margin: 0;
										padding: 0;
										font-size: 14px;
										font-weight: 400;
										display: inline;

									}
								}
							}
						}
					}
				}
			}
		}
	}
	.wrap-block{
		&.innerbanner-block{
			padding: 0;
		}
	}
	.innerbanner{
		&-one{
			padding: 10px 0;
			.left-side {
				display: block;
				width: initial;
				.title {
					font-size: 24px;
					font-weight: 300;
				}
				.pic {
					width: 60px;
					padding-right: 10px;
					img {
					}
				}
			}
			.right-side {
				border-left: none;
				padding-left: 0;
				margin-top: 10px;
				.desc, .action-block {
					display: block;
					
				}
				.desc {
					margin-top: 15px;
				}
				.action-block {
					width: initial;
					text-align: left;
					margin-top: 10px;
				}
			}
		}
		&-two {
			.clearfix;
			.left-side, .right-side{
				float: left;
				width: 50%;
				display: inline-block;
			}
			.left-side{
				
				.pic{
					.clearfix;
					img{
						max-width: 100%;
						float: left;
					}
				}
			}
			.right-side{
				box-sizing: border-box;
				padding-left: 20px;
				width: 50%;
				.title{
					color: #fff;
					font-size: 26px;
					line-height: 30px;
					margin-top: 0;
					margin-bottom: 10px;
				}
				.desc-title{
					color: #ff0;
					font-size: 16px;
					margin-bottom: 10px;
				}
				.desc-text{
					color: fade(#fff, 80%);
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.liraxPartner {
		.page-title-block {
			padding-top: 30px;
		}
	}
	.main-block-white {
		padding-top: 60px;
		padding-bottom: 60px;
		h1{
			text-transform: initial;
			font-size: 20px;
			margin-bottom: 30px;
			b {
				font-size: 22px;
			}
			span {
				&:after{
					content: none;
				}
			}
		}
		.super-ip-list {
			.text {
				padding-bottom: 20px;
			}
		}
		.clients-list {
			.title{
				padding: 0;
				font-size: 16px;
				line-height: 20px;
			}
			.clist {
				padding: 0;
				li {
					padding: 0;
					height: 20px;
					margin: 3px;
				}
				a {
					height: 20px;
					img {
						max-height: 20px;
						height: 20px;
					}
				}
			}
		}
		.action-block{
			text-align: center;
			.action-text {
				margin: 0;
				text-align: center;
				font-size: 12px;
			}
		}
	}
	.howmakebuisiness-block-small{
		h2{
			background: #fff;
			margin: 0;
			right: 0;
			left: 0;
			text-align: center;
			color: #333;
			font-size: 20px;
			font-weight: 400;line-height: 32px;
			height: 30px;
		}
	}
	.default-page {
		// .vipnumbers {
		// 	table {
		// 		caption {
		// 			text-align: center;
		// 			padding: 10px;
		// 		}
		// 		tr, td {
		// 			border: 0;
		// 		}
		// 		td {
		// 			padding: 10px;
		// 			&.number {
		// 				font-size: 14px;
		// 				font-weight: 500;
		// 				strong{
		// 					font-size: 20px;
		// 					font-weight: 400;
		// 				}
		// 			}
		// 			&.price {
		// 				text-align: right;
		// 				color: #666;
		// 				strong{
		// 					font-size: 18px;
		// 					text-decoration: line-through;
		// 				}
		// 			}
		// 			&.buy {
		// 				text-align: right;
		// 				.btn{
		// 					padding: 8px 15px;
		// 					strong {
		// 						font-size: 18px;
		// 					}
		// 				}
		// 			}
		// 		}
		// 		.table-color(@color){
		// 			background: fade(@color, 10%);
		// 			border-color: @color;
		// 			tr {
		// 				// background: transparent;
		// 			}
		// 			td {
		// 				border-bottom: 1px dotted fade(@color, 20%);
		// 				&:first-child{
		// 					border-left: 1px solid @color;
		// 				}
		// 				&:last-child{
		// 					border-right: 1px solid @color;
		// 				}
		// 				&.price, &.number {
		// 					strong{
		// 						color: @color;
		// 					}
		// 				}
		// 				&.buy {
		// 					.btn {
		// 						border-color: @color;
		// 						color: @color;
		// 						cursor: pointer;
		// 						&:hover {
		// 							background: @color;
		// 							color: #fff;
		// 						}
		// 					}
		// 				}
		// 			}
		// 			tr {
		// 				&:last-child{
		// 					border-bottom: 1px solid @color;
		// 					td {
		// 						border-bottom: 1px solid @color;
		// 					}
		// 				}
		// 			}
		// 			caption {
		// 				color: #fff;
		// 				background: @color;
		// 			}
		// 		}
		// 		&.violet {
		// 			.table-color(#594695);
		// 		}
		// 		&.pink {
		// 			.table-color(#9a0e6f);
		// 		}
		// 		&.lightblue {
		// 			.table-color(#0eadce);
		// 		}
		// 		&.blue {
		// 			.table-color(#1f6598);
		// 		}
		// 	}
		// }
		.table{
			&.table-partner{
				font-size: 14px;
				b{
					font-size: 15px;
				}
				thead {
					tr {
						th {
							font-size: 16px;
						}
					}
				}
				tbody{
					tr {
						td {
							width: 30px;
							padding-top: 10px;
							padding-bottom: 10px;
							&.t-title{
								b {
									font-size: 16px;
								}
								width: initial;
								padding-left: 10px;
								padding-right: 10px;
							}
							&.t-footer{
								padding-top: 5px;
								padding-bottom: 5px;
							}
						}
					}
				}
			}
		}
	}
}

@media @sm-fix {
	.hidden-sm {
		display: none;
	}
	.footer-block{
		.tablestyle {
			.cell{
				&:nth-child(1), &:nth-child(2){
					width: 25%;
				}
			}
		}
	}
	.empty-page {
		.page-title {
			top: 20px;
			left: 0;
			font-size: 32px;
		}
		.page-content {
			top: 137px;
			left: 0;
			font-size: 16px;
			line-height: 20px;
			width: 350px;
		}
		.links {
			width: 95px;
			padding: 4px 0;
			font-size: 12px;
			line-height: 13px;
		    // background: fade(#fff, 50%);
			&:hover {
				background: #fff;
				color: #08abd6;
			}
			&.link-1 {
				right: 110px;
				top: 169px;
				width: 161px;
				font-size: 12px;
				line-height: 12px;
				padding: 4px 0;
			}
			&.link-2 {
				top: 246px;
				right: 72px;
			}
			&.link-3 {
				top: 316px;
				right: 145px;
			}
			&.link-4 {
				top: 375px;
				right: 64px;
			}
			&.link-5 {
				top: 448px;
				right: 126px;
			}
			&.link-6 {
				top: 515px;
				right: 63px;
			}
			&.link-home{
				bottom: 176px;
				left: 390px;
				height: 40px;
				width: 100px;
			}
		}
	}
	.youtube-iframe{
		height: 455px;
	}
	.form-modal {
	    width: 746px;
	}
	.line-2 {
		padding: 10px 0;
		.contacts{
			.cell{
				padding: 0 10px;
			}
		}
		.logo {
			a {
				img{
					margin-top: -2px;
				}
			}
		}
		.loginform{
			top: 52px;
		}
	}
	.line-3{
		&.navigator {
			.menu{
				padding: 0;
				li {
					padding: 7px 10px;
					+ li {
						margin-left: 20px;
					}
				}
			}
		}
	}
	.wrap-block {
		padding: 30px 0;
		&.header-block, &.main-block, &.footer-block{
			padding: 0;
		}
		 h2 {
		    font-size: 36px;
		    line-height: 36px;
		    margin: 0 0 30px;
		    font-weight: 300;
		    text-align: center;
		}
	}
	#lirax{
		&.main-block {
			h1{
				margin: 60px 0 0;
			}
			.payer-block {
			    padding-top: 10px;
			}
			.action-block {
				margin-bottom: 20px;
			}
			.more-block{
				margin-bottom: 0;
				.more-text{
				}
			}
		}
	}
	.howmakebuisiness-block-small{
		padding: 0;
		background: #9a0e6f;
		&:before, &:after{
			left: 0;
			right: 0;
			height: 108px;
		}
		&:before{
			bottom: initial;
		}
		&:after{
			top: initial;
			bottom: 0;
		}
		.title {
			display: block;
		}
	}
	.howmakebuisiness-block {
		.title{
			.box-sizing-mixin(~'border-box');
			width: 100%;
			margin-bottom: 0;
			font-size: 18px;
		}
	}
	.buisinessteps-block {
		.steps-inline{
			li {
				@hw: 54px;
				width: 130px;
				a {
					height: @hw;
					padding-right: @hw - 15;
					line-height: @hw;
					font-size: 16px;
					i.fa {
						height: @hw - 2;
						width: @hw - 15;
						line-height: @hw - 2;
					}
					&.active{
						i {
						}
					}
				}
			}
		}
		.tab {
			padding: 10px;
			.image {
			    width: 85px;
			    text-align: center;
			}
			.title {
			    margin-left: 105px;
			    font-size: 20px;
			    border-bottom: 1px solid #000;
			    line-height: 24px;
			    padding-bottom: 15px;
			    position: relative;
			}
			.desc {
			    margin-left: 105px;
			    padding-top: 15px;
			    position: relative;
			    .clearfix;
			    p {
			    	font-size: 14px;
			    	line-height: 20px;
			    }
			    &:before {
				    margin-left: -6px;
				}
			}
		}
	}
	.howphonework-block p{
		margin: 0 0 12px;
		line-height: 20px;
	}
	.whywebest-block{
		padding-top: 60px;
		h2 {
			+ .desc {
				margin-top: 0;
			}
		}
	}
	.sertificats-block {
		h3 {
			margin-bottom: 20px;
		}
		.desc {
			
			p {
				margin: 0 0 12px;
			}
		}
		#sertifSlider{
			margin-bottom: 50px;
			.bx-wrapper {
				.bx-controls-direction {
					a{
						margin-top: 0;
						top: 100%;
						background: #3b2876;
						height: 36px;
						width: 36px;
						line-height: 36px;
						margin-right: -4px;
						&:before{
							line-height: 36px;
						}
						&.bx-prev{
							left: inherit;
							right: 38px;
						}
						&.bx-next{
							right: 0;
						}
					}
				}
				.bx-viewport {
					.slider {
						li {
							.text{
								padding: 5px 10px;
							}
							p {
								font-size: 14px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
		.sert-img {
			a {
				display: block;
				float: left;
				box-sizing: border-box;
				width: 48%;
				+ a {
					margin-left: 4%;
				}
			}
			.clearfix;
		}
	}
	.aboutsystem-block {
		padding-top: 60px;
		.system-tabs {
			margin-top: 0;
			.tabsControls {
				position: relative;
				> .pull-left, > .pull-right {
					float: left;
					width: 50%;
				}
				.center-block {
					margin: 80px 0 0;
					padding: 0;
					.pic {
						float: left;
					}
					.title{
						text-align: left;
						margin-left: 170px;
						margin-bottom: 20px;
					}
					.desc {
						margin-left: 170px;
						p {
							margin: 0 0 18px;
						}
					}
				}
				.sys-list {
					width: 100%;
					margin: 0; padding: 0;
					li {
						display: block;
						float: left;
						margin: 0;
						text-align: center;
						width: 100% / 6;
						// background: #ccc;
						height: inherit;
						a {
							display: table-cell;
							padding: 0 10px;
							height: 50px;
							vertical-align: middle;
							.box-sizing-mixin(~'border-box');
							position: inherit;
							&.active{
								&:before {
									content: none;
								}
								span {
									&.name {
										display: block;
									}
								}
							}
							span {
								display: block;
								text-align: center;
								&.name {
									display: none;
								    position: absolute;
									top: 240px;
									color: #b50672;
									left: 15px;
									font-size: 16px;
									font-weight: 400;
									width: 154px;

								}
								&.icon {
									width: inherit;
									max-width: 36px;
									img{
										
									}
								}
							}
						}
					}
					.clearfix;
				}
				.pull-left {
					.sys-list {
						border: none;
						li {
							a{
								&.active:before{
									content: none;
								}
							}
						}
					}
				}
				.pull-right {
					.sys-list {
						border: none;
					}
				}
			}
		}
	}
	.calculatetarif-block {
		padding-top: 60px;
		.calc-small-form {
			input[type="text"], .btn{
				//width: 90px;
				margin-top: 0;
				margin-bottom: 0;
			}
			form{
				margin-top: 10px;
			}
			.clearfix;
		}
	}
	#crm.main-block {
		h1 {
			margin-top: 60px;
		}
	}
	.crmprop-block{
		.menu {
			border-bottom: none;
			li {
				width: 100% / 5;
				margin-bottom: 4px;
				a{
					// padding: 5px 8px;
					// font-size: 14px;
					margin: 0 0 0 4px;
					padding: 10px 5px 10px 15px;
					// background: #c00;
					border-left: 2px solid #10c1e6;
					&.active{
						margin: 0 0 0 4px;
						padding: 10px 5px 10px 15px;
						// background: #c00
					}
				}
				+ li{
					margin-left: 0;
				}
			}
		}
	}
	#callback{
		&.main-block {
			h1 {
				margin: 60px 0;
				font-size: 28px;
			}
		}
	}
	.why-widget-click {
		.line {
			text-align: center;
		}
		.pic{
			float: none;
			text-align: center;
			img {
				float: none;
			}
		}
		.text {
			width: 100%;
			margin: 0;
			float: none;
		}
	}
	.widgeg-techspec-block .toggle-wrap {
		.title {
			display: block;
			font-size: 14px;
			font-weight: 300;
		}
	}
	.widget-info-block{
		&.style-1 {
			.action-btn-block{
				text-align: left;
			}
		}
		&.style-2 {
			.pic {
				i{
					&:before{
						font-size: 90px;
						line-height: 110px;
						margin: 0;
					}
				}
			}
		}
	}
	.widget-tarifs-block {
		.tarif-list {
			display: block;
			li {
				width: 100% / 3;
			}
		}
	}
	#calltracking{
		&.main-block {
			h1{
				margin-top: 60px;
				margin-bottom: 30px;
				font-size: 28px;
				line-height: 32px;
			}
			.product-name {
				font-size: 26px;
				margin-bottom: 30px;
				line-height: 28px;
			}
			.action-block{
				margin-bottom: 30px;
			}
			.action-text{
				font-size: 14px;
				line-height: 18px;
			}
			.payer-block {
				margin: 0;
			}
		}
	}
	.instruction-block {
		.instruction {
			.manual {
				li {
					.title{
						font-size: 15px;
						line-height: 16px;
					}
				}
			}
		}
	}
	.forwho-block {
		.wholist {
			> li {
				float: none;
				width: 100%;
				height: auto;
				margin-bottom: 20px;
				.title {
					padding: 15px 0;
					font-size: 22px;
				}
				ul {
					li {
						line-height: 22px;
					}
				}
				&:nth-child(2){
					margin: 0 0 20px;
					height: auto;
					.title {
						padding: 15px 0;
						font-size: 22px;
					}
				}
			}
		}
	}
	.howitworks-block {
		.block {
			padding-top: 30px;
		}
		.one {
			.pic{
				height: 160px;
    			width: 230px;
			}
		}
		.two {
			padding: 30px 0 0;
			.pic {
				width: 200px;
			}
		}
		.three {
			.block{
				padding-top: 30px;
			}
			.pic{
				margin: 0;
			}
		}
		.text {
			font-size: 16px;
		}
	}
	.youtake-block {
		.body-block {
			ul {
				margin: 15px;
				li {
					padding: 15px 0;
					line-height: 22px;
				}
			}
		}
	}
	#Calculate{
		&.wrap-block {
			h2 {
				font-size: 28px;
			}
		}
	}
	.accordion-kyivstar{
		&.ui-accordion {
			.ui-accordion-header{
				font-size: 16px;
			}
			.ui-accordion-content {
				.answer-block {
					.tabsControls {
						.menu {
							li{
								a {
									padding: 10px;
									.num {
										width: 40px;
										font-size: 16px;
										line-height: 18px;
										float: none;
										display: inline;
									}
									.name {
										margin: 0;
										padding: 0;
										font-size: 16px;
										font-weight: 400;
										display: inline;

									}
								}
							}
						}
					}
				}
			}
		}
	}
	.wrap-block{
		&.innerbanner-block{
			padding: 0;
		}
	}
	.innerbanner{
		&-one{
			padding: 10px 0;
			.left-side {
				display: block;
				width: initial;
				.pic {
					img {
						margin-bottom: -60px;
					}
				}
			}
			.right-side {
				border-left: none;
				padding-left: 110px;
				.desc, .action-block {
					display: block;
					
				}
				.desc {
					padding-top: 10px;
				}
				.action-block {
					width: initial;
					text-align: left;
					margin-top: 10px;
				}
			}
		}
		&-two {
			.clearfix;
			.left-side, .right-side{
				float: left;
				
				display: inline-block;
			}
			.left-side{
				width: 40%;
				.pic{
					.clearfix;
					img{
						max-width: 100%;
						float: left;
					}
				}
			}
			.right-side{
				box-sizing: border-box;
				padding-left: 20px;
				width: 60%;
				.title{
					color: #fff;
					font-size: 28px;
					line-height: 30px;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				.desc-title{
					color: #ff0;
					font-size: 16px;
					margin-bottom: 10px;
				}
				.desc-text{
					color: fade(#fff, 80%);
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.liraxPartner {
		.page-title-block {
			padding-top: 30px;
		}
	}
	.main-block-white {
		padding-top: 60px;
		padding-bottom: 60px;
		h1{
			text-transform: initial;
			font-size: 26px;
			margin-bottom: 30px;
			b {
				font-size: 30px;
			}
			span {
				&:after{
					content: none;
				}
			}
		}
		.super-ip-list {
			.text {
				padding-bottom: 20px;
			}
		}
		.clients-list {
			.title{
				padding: 0;
				font-size: 16px;
				line-height: 20px;
			}
			.clist {
				padding: 0;
				li {
					padding: 0;
					height: 24px;
					margin: 3px;
				}
				a {
					height: 24px;
					img {
						max-height: 24px;
						height: 24px;
					}
				}
			}
		}
		.action-block{
			.action-text {
				margin: 0;
				font-size: 12px;
			}
		}
	}
	.howmakebuisiness-block-small{
		h2{
			background: #fff;
			margin: 0;
			right: 0;
			left: 0;
			text-align: center;
			color: #333;
			font-size: 20px;
			font-weight: 400;line-height: 32px;
			height: 30px;
		}
	}
	
}

@media @md-fix {
	.hidden-md {
		display: none;
	}
	.empty-page {
		.page-title {
			top: 20px;
			left: 0;
		}
		.page-content {
			top: 174px;
			left: 0; 
			font-size: 20px;
			line-height: 26px;
		}
		.links {
			width: 122px;
		    padding: 4px 0;
		    font-size: 14px;
		    line-height: 17px;
		    border-radius: 50px;
		    // background: fade(#fff, 50%);
			&:hover {
				background: #fff;
				color: #08abd6;
			}
			&.link-1 {
				right: 135px;
				top: 216px;
				width: 206px;
				font-size: 16px;
				line-height: 17px;
				padding: 3px 0;
			}
			&.link-2 {
				top: 315px;
				right: 86px;
			}
			&.link-3 {
				top: 405px;
				right: 181px;
			}
			&.link-4 {
				top: 479px;
				right: 76px;
			}
			&.link-5 {
				top: 572px;
				right: 154px;
			}
			&.link-6 {
				top: 657px;
				right: 77px;
			}
			&.link-home{
				bottom: 227px;
				left: 481px;
				&:hover{
					background: transparent;
				}
			}
		}
	}
	.wrap-block{
		&.innerbanner-block{
			padding: 0;
		}
	}
	.innerbanner{
		&-one{
			.left-side {
				
			}
			.right-side {
				.desc, .action-block {
					display: block;
					
				}
				.action-block {
					width: initial;
					text-align: left;
					margin-top: 10px;
					.btn {
						padding: 6px 16px;
						border-radius: 3px;
					}
				}
			}
		}
		&-two {
			.clearfix;
			.left-side, .right-side{
				float: left;
				width: 50%;
				display: inline-block;
			}
			.left-side{
				.pic{
					.clearfix;
					img{
						max-width: 100%;
						float: left;
					}
				}
			}
			.right-side{
				box-sizing: border-box;
				padding-left: 20px;
				.title{
					color: #fff;
					font-size: 40px;
					line-height: 40px;
					margin-top: 40px;
					margin-bottom: 30px;
				}
				.desc-title{
					color: #ff0;
					font-size: 18px;
					margin-bottom: 20px;
				}
				.desc-text{
					color: fade(#fff, 80%);
					font-size: 14px;
					margin-bottom: 60px;
				}
			}
		}
	}
	.youtube-iframe{
		height: 380px;
	}
	#lirax{
		&.main-block {
			.payer-block{
				padding-top: 50px;
			}
		}
	}
	.buisinessteps-block {
		.steps-inline {
			li {
				width: 180px;
			}
		}
	}
	.aboutsystem-block {
		.system-tabs {
			.center-block{
				margin: 0 220px;
			}
			.sys-list{
				width: 220px;
				li {
					margin-bottom: 3px;
					a {
						font-size: 15px;
						height: 60px;
						&.active{
							&:before{
								border-top: 30px solid transparent;
    							border-bottom: 30px solid transparent;
							}
						}
						span {
							&.icon{
								width: 60px
							}
						}
						img {
							max-width: 60%;
						}
					}
				}
			}
			.pull-right {
				.sys-list{
					li {
						a {
							&.active{
								&:before{
									left: -18px;
	    							border-right: 18px solid #9a0e6f;
								}
							}
						}
					}
				}
			}
			.pull-left {
				.sys-list{
					li {
						a {
							&.active{
								&:before{
									right: -18px;
	    							border-left: 18px solid #9a0e6f;
								}
							}
						}
					}
				}
			}
		}
	}
	.crmprop-block{
		.menu {
			li {
				a{
					font-size: 15px;
					padding: 14px 13px;
				}
			}
		}
	}
	.why-widget-click {
		.line {
			text-align: center;
		}
		.pic{
			float: none;
			text-align: center;
			img {
				float: none;
			}
		}
		.text {
			width: 100%;
			margin: 0;
			float: none;
		}
	}
	.widgeg-techspec-block .toggle-wrap {
		.title {
			display: block;
			font-size: 16px;
			font-weight: 300;
		}
		.icon {
			padding: 10px 0 0;
			height: 70px;
			i {
				line-height: 70px;
				&:before {
					line-height: 70px;
					font-size: 70px;
				}
			}
		}
	}
	.widget-info-block.style-1 .action-btn-block {
		text-align: left;
	}
	.widget-info-block.style-2 .pic i:before{
		font-size: 130px;
		line-height: 130px;
		margin: 0;
	}
	#callback {
		&.main-block {
			h1 {
				margin-top: 60px;
				margin-bottom: 30px;
				font-size: 28px;
			}
			.payer-block {
				margin: 0;
			}
			.action-block {
				margin-bottom: 30px;
			}
		}
	}
	#calltracking{
		&.main-block{
			h1{
				font-size: 28px;
				margin-bottom: 30px;
			}
			.product-name, .action-block{
				margin-bottom: 30px;
			}
			.payer-block{
				margin: 0;
			}
		}
	}
	.instruction-block {
		.instruction {
			.manual {
				li {
					.title{
						font-size: 16px;
					}
				}
			}
			.resume {
				span{
					font-size: 24px;
					line-height: 24px;
				}
				.cell {
					.line {
						margin-top: 8px;
					}
				}
			}
		}
	}
	.howitworks-block {
		.one {
			.pic {
				// width: 200px;
			}
		}
	}
	.forwho-block {
		.wholist {
			> li {
				ul {
					li {
						line-height: 22px;
					}
				}
				.title {
					padding: 25px 0;
				}
				&:nth-child(2) {
					.title{
						padding-top: 45px;
					}
				}
			}
		}
	}
	.accordion-kyivstar{
		&.ui-accordion {
			.ui-accordion-content {
				.answer-block {
					.tabsControls {
						.menu {
							li{
								a {
									.num {
										width: 40px;
									}
									.name {
										margin-left: 40px;
										font-size: 14px;
										font-weight: 400;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media @lg-fix {
	.hidden-lg {
		display: none;
	}
}


.padd-mixin(@sm,0,~'sm');