// container width mixin | @mw: media query array; | @cw: container width array
	.container-generator-mixin(@mw, @cw, @i: 1) when (@i =< length(@mw)) {
		@mediaWidth: extract(@mw, @i);
		@containerWidth: extract(@cw, @i);
		@media @mediaWidth {
			.container {
				width: @containerWidth;
			}
		}
		.container-generator-mixin(@mw, @cw, @i + 1);
	}

// span media width mixin | @sn: span names array; | @cc: cols count
	.span-generator-mixin(@cc, @sn, @i: 1) when (@i =< @cc){
		.span-@{sn}-@{i}{
			width: 100% / @cc * @i;
		}
		.span-generator-mixin(@cc, @sn, @i + 1);
	}

// offset media width mixin | @sn: span names array; | @cc: cols count
	.offset-generator-mixin(@cc, @sn, @i: 1) when (@i =< @cc){
		.offset-@{sn}-@{i}{
			margin-left: 100% / @cc * @i;
		}
		.offset-generator-mixin(@cc, @sn, @i + 1);
	}

// visible media width mixin | @sn: span names array
	.visible-generator-mixin(@sn){
		.visible-@{sn}{
			display: block !important;
		}
	}

	.hidden-generator-mixin(@sn){
		.hidden-@{sn}{
			display: none !important;
		}
	}

	.vh-once-generator-mixin(@sn,@mq){
		@media @mq {
			.visible-@{sn}{
				display: block !important;
			}
			.hidden-@{sn}{
				display: none !important;
			}
		}
	}

	.blur-mixin(@px){
		
	}

// @ms: media span array; | @sn: span names array; | @cc: cols count
	.grid-generator-mixin(@ms, @mfw, @sn, @cc, @i: 1) when (@i =< length(@ms)){
		@mediaWidth: extract(@ms, @i);
		@mediaFixWidth: extract(@mfw, @i);
		@spanName: extract(@sn, @i);
		@columsCount: @cc;
		@media @mediaWidth {
			.span-generator-mixin(@columsCount, @spanName);
			
		}
		@media @mediaFixWidth {
			.hidden-generator-mixin(@spanName);
			.visible-generator-mixin(@spanName);
			.offset-generator-mixin(@columsCount, @spanName);
		}
		.grid-generator-mixin(@ms, @mfw, @sn, @cc, @i + 1);
	};

	.grid-generator-once-mixin(@sn, @vh, @cc){
		@spanName: @sn;
		@columsCount: @cc;
		@vhMedia: @vh;

		.span-generator-mixin(@columsCount, @spanName);
		.offset-generator-mixin(@columsCount, @spanName);

		.vh-once-generator-mixin(@spanName, @vhMedia);
	};


// ==============================================================================  //


//margin bottom mixin
	.mb-mixin(@s, @i:1) when (@i =< length(@s)){
		@size: extract(@s, @i);
		.mb-@{size}{
			margin-bottom: ~'@{size}px';
		}
		.mb-mixin(@s, @i + 1);
	}

// box-sizin
	.box-sizing-mixin(@b){
		box-sizing: @b;
		-moz-box-sizing: @b;
		-webkit-box-sizing: @b; 
	}

	.box-shadow-mixin(@param){
		box-shadow: @param;
		-moz-box-shadow: @param; 
		-webkit-box-shadow: @param; 
	}


	.border-radius-mixin(@param){
		-moz-border-radius: @param;
	    -webkit-border-radius: @param;
	    border-radius: @param;
	}

	.transition-properties(@param) {
	  -webkit-transition: @param;
	  -moz-transition: @param;
	  -o-transition: @param;
	  transition: @param;
	}

	.position-center-mixin(@w, @h, @b){
		top: 50%; left: 50%;
		margin: -(@h/2)-@b 0 0 -(@w/2)-@b;
	}

	.horizotal-slider-color-mixin(@color){
		&.ui-slider .ui-slider-handle{
			border-color: @color;
			&:before {
				.gradient(@color, 10%);
			}
		}
		&.ui-widget-content {
			border-color: @color;
		}
		.ui-widget-header {
			background: @color;
		}
	}

	.gradient (@color, @persent) {
		background-color: @color;
		background: -webkit-gradient(linear, left top, left bottom, from(lighten(@color, @persent)), to(darken(@color, @persent)));
		background: -webkit-linear-gradient(top, lighten(@color, @persent), darken(@color, @persent));
		background: -moz-linear-gradient(top, lighten(@color, @persent), darken(@color, @persent));
		background: -ms-linear-gradient(top, lighten(@color, @persent), darken(@color, @persent));
		background: -o-linear-gradient(top, lighten(@color, @persent), darken(@color, @persent));
	}

	.circle(@color) {
		.circle{
			&:before{
				border: 14px solid fade(@color, 30%);
			}
			&:after{
				border: 2px solid fade(@color, 44%);
			}
			span {
				&:before{
					background: @color;
				}
				&:after{
					border: 2px solid @color;
				}
			}
		}
		.line2-color(@color);
	}

	.line2-color(@c) {
		.line2 {
			&:before{
				background:@c;
			}
			&:after{
				background: @c;
			}	
		}
	}

	.pl-mixin(@pl){
		.pl-@{pl}{
			padding-left: ~'@{pl}px';
		}
	}

	.pr-mixin(@pr){
		.pr-@{pr}{
			padding-right: ~'@{pr}px';
		}
	}

	// Example: .retina-bg-mixin(~'instruction-block.jpg', ~'1920px auto');
	.retina-bg-mixin(@picture, @size){
		background-image: url('images/@{picture}'); 
		background-size: @size;
		@picture2x: replace(~'@{picture}', '\.', "@2x.");
		@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 3/2),
		only screen and (min-device-pixel-ratio: 1.5) {
		    background-image: url('images/@{picture2x}');
		}
	}
	.icon-bg-mixin(@image, @size){
		&:before{
			.retina-bg-mixin(@image, @size);
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	.placeholder-color-mixin(@color){
		
	}



	.placeholder-mixin(@color: #000, @fw: 100, @fz: 20px, @ff: 'Arial'){
		input::-webkit-input-placeholder {
			color: fade(@color, 60%);
			font-weight: @fw;
			font-size: @fz;
			font-family: @ff;
		}
		input::-moz-placeholder          {
			color: fade(@color, 60%);
			font-weight: @fw;
			font-size: @fz;
			font-family: @ff;
		}
		input:-moz-placeholder           {
			color: fade(@color, 60%);
			font-weight: @fw;
			font-size: @fz;
			font-family: @ff;
		}
		input:-ms-input-placeholder      {
			color: fade(@color, 60%);
			font-weight: @fw;
			font-size: @fz;
			font-family: @ff;
		}
	}

	// triangle-up
	.triangle-up(@size, @color) {
		position: relative;
		&:before {
			top: -@size;
			left: 50%;
			margin-left: -@size/2;
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-left: @size/2 solid transparent;
			border-right: @size/2 solid transparent;
			border-bottom: @size solid @color;
		}
	}

	// trianglbottome-down
	.triangle-down(@size, @color) {
		position: relative;
		&:before {
			bottom: -@size;
			left: 50%;
			margin-left: -@size/2;
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-left: @size/2 solid transparent;
			border-right: @size/2 solid transparent;
			border-top: @size solid @color;
		}
	}


		// .left-mixin(@way) when (@way == 0){top: @way;}
		// .left-mixin(@way) when (@way == 1){top: @way;}
		// .left-mixin(1);

	.triangle-mixin(@way, @width, @height, @color){
		position: relative;
		@w: @width / 2;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			.way(@way);
		}
		.way(top) {
			border-left: @w solid transparent;
			border-right: @w solid transparent;
			border-bottom: @height solid @color;
			top: -@height; left: 50%;
			margin-left: -@w;
		}
		.way(right) {
			border-top: @w solid transparent;
			border-bottom: @w solid transparent;
			border-left: @height solid @color;
			right: -@height; top: 50%;
			margin-top: -@w;
		}
		.way(left) {
			border-top: @w solid transparent;
			border-bottom: @w solid transparent;
			border-right: @height solid @color;
			left: -@height; top: 50%;
			margin-top: -@w;
		}
		.way(bottom) {
			border-left: @w solid transparent;
			border-right: @w solid transparent;
			border-top: @height solid @color;
			bottom: -@height; left: 50%;
			margin-left: -@w;
		}
	}

	.triangle-mixin-after(@way, @width, @height, @color){
		position: relative;
		@w: @width / 2;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			.way(@way);
		}
		.way(top) {
			border-left: @w solid transparent;
			border-right: @w solid transparent;
			border-bottom: @height solid @color;
			top: -@height; left: 50%;
			margin-left: -@w;
		}
		.way(right) {
			border-top: @w solid transparent;
			border-bottom: @w solid transparent;
			border-left: @height solid @color;
			right: -@height; top: 50%;
			margin-top: -@w;
		}
		.way(left) {
			border-top: @w solid transparent;
			border-bottom: @w solid transparent;
			border-right: @height solid @color;
			left: -@height; top: 50%;
			margin-top: -@w;
		}
		.way(bottom) {
			border-left: @w solid transparent;
			border-right: @w solid transparent;
			border-top: @height solid @color;
			bottom: -@height; left: 50%;
			margin-left: -@w;
		}
	}


	// .x {
	//   .m(red)                                    {case-1: darkred}
	//   .m(blue)                                   {case-2: darkblue}
	//   .m(@x) when (iscolor(@x)) and (default())  {default-color: @x}
	//   .m('foo')                                  {case-1: I am 'foo'}
	//   .m('bar')                                  {case-2: I am 'bar'}
	//   .m(@x) when (isstring(@x)) and (default()) {default-string: and I am the default}

	//   &-blue  {.m(blue)}
	//   &-green {.m(green)}
	//   &-foo   {.m('foo')}
	//   &-baz   {.m('baz')}
	// }
		//@w: @way;
		//.way-mixin(@w,) when (@w == 1);
		// position: relative;

		// &:before {
		// 	bottom: -@size;
		// 	left: 50%;
		// 	margin-left: -@size/2;
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	width: 0;
		// 	height: 0;
		// 	border-left: @size/2 solid transparent;
		// 	border-right: @size/2 solid transparent;
		// 	border-top: @size solid @color;
		// }



	// trianglbottome-right
	.triangle-right(@size, @color) {
		position: relative;
		&:before {
			bottom: -@size;
			left: 50%;
			margin-left: -@size/2;
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-top: @size/2 solid transparent;
			border-bottom: @size/2 solid transparent;
			border-left: @size solid @color;
		}
	}

	.tstyle-1-mixin(@c1, @c2) {
		.tstyle-1{
			> .table-row {
				> .cell {
					position: relative;
					padding: 10px;
					border-left: 1px solid @c1;
					border-top: 1px solid @c1;
					&:before{
						content: '';
						display: block;
						position: absolute;
						background: @c2;
						left: 0; top: 0;
						height: 30px; width: 30px;
						margin: -15px 0 0 -15px;
						border-radius: 50%;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						border: 1px solid @c1;
						left: 0; top: 0;
						height: 11px; width: 11px;
						margin: -7px 0 0 -7px;
						border-radius: 50%;
					}
					&:first-child {
						border-left: none;
						&:before, &:after  {
							content: none;
						}
					}
				}
				&.rowline-1 {
					> .cell {
						border-top: none;
						&:before, &:after  {
							content: none;
						}
					}
				}
			}
		}
	}
	
	.table-color-mixin(@c1, @c2, @c3, @c4){
		border-color: @c1;
		thead {
			tr {
				background: @c1;
				th {
					color: lighten(@c1, 60%);
					+ th {
						border-color: @c2;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					+ td {
						border-color: @c4;
					}
					&.t-footer{
						border-color: @c3;
						background: @c3;
						color: darken(@c1, 20%);
					}
				}
				&:nth-child(even){
					background: @c4;
					td {
						+ td {
							border-color: darken(@c4, 10%);
						}
					}
				}
			}
		}
	}
	
	.table-style-mixin(@color){
		border: 1px solid;
		caption{
			text-align: left;
			font-size: 15px;
			font-weight: 400;
		}
		thead {
			tr {
				th {
					padding: 8px 5px;
					border-bottom: 0;
					font-weight: 400;
					+ th {
						border-left: 1px solid;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 5px;
					border: 0;
					+ td {
						border-left: 1px dotted;
					}
					&.t-footer{
						border-top: 1px solid;
						font-size: 14px;
						font-style: italic;
						text-align: left;
						padding-left: 15px;
						padding-right: 15px;
					}
				}
				&:nth-child(even){
				}
			}
		}
		.border-color-contrast-mixin(@c) when (lightness(@c) < 51%){
			@c1: @c;
			@c2: lighten(@c, 20%);
			@c3: lighten(@c, 45%);
			@c4: fade(@c, 5%);
			.table-color-mixin(@c1, @c2, @c3, @c4);
		}
		.border-color-contrast-mixin(@color);
	}


	.gradient-mixin(@c1, @o1, @c2, @o2) {
		@color-fade1: fade(@c1, @o1);
		@color-fade2: fade(@c2, @o2);
		background: @color-fade1;
		background: -moz-linear-gradient(top, @color-fade1 0%, @color-fade2 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, @color-fade1), color-stop(100%, @color-fade2));
		background: -webkit-linear-gradient(top, @color-fade1 0%, @color-fade2 100%);
		background: -o-linear-gradient(top, @color-fade1 0%, @color-fade2 100%);
		background: -ms-linear-gradient(top, @color-fade1 0%, @color-fade2 100%);
		background: linear-gradient(to bottom, @color-fade1 0%, @color-fade2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{c1}', endColorstr='@{c2}', GradientType=0 );
	}
	
	.check-box-mixin(@w, @h, @c){
		position: relative;
		height: @w;
		width: @h;
		display: inline-block;
		vertical-align: middle;
		> span{
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 0;
			border: 1px solid @c;
		}
		input{
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			text-align: center;
			vertical-align: center;
			opacity: 0;
			cursor: pointer;
			&:not(checked) + span  {
				background: transparent;
			}
			&:checked + span {
				&:before{
					content: "\f00c";
					font-family: FontAwesome;
					position: absolute;
					top: 0; left: 0;
					width: 100%;
					height: 100%;
					line-height: @h;
					color: @c;
				}
			}
		}
	}

.padd-mixin(@media,@size,@name){
	@media @media {
		.padd-@{name}-@{size}{
			padding: @size;
		}
	}
}

.select-mixin(@color){
	> label{
	    display: block;
	    position: relative;
	    z-index: 0;
	    font-weight: 300;
	    border-bottom: 2px solid @color;
	    &:before{
		    content: attr(placeholder); /** Взять текст из атрибута placeholder **/
		    display: inline-block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: -1;
		    max-width: 100%;
		    text-align: left;
		    white-space: nowrap; /** Не переносить слова **/
		    color: #fff;
		    overflow-x: hidden; /** Скрыть лишнее **/
		}
		&:after{
		    content: ">";
		    display: inline-block;
		    position: absolute;
		    top: 0;
		    right: 0;
		    text-align: center;
		    transform: rotate(90deg);
		}
		input, label{
			display: none;
		}
		div{
		    min-width: 100%;
		    max-height: 500px; /** Ограничения на высоту списка выборов **/
		    overflow-x: hidden;
		}
		input[type="radio"]{
			&:checked {
				~ div{
				    position: absolute;
				    top: 0;
				    z-index: 999;
				    overflow-y: auto;
				    color: @lightBlue;
				    background: #fff;
				    > label:hover{
					    background-color: lighten(@lightBlue, 50%);
					}
				}
				~ div > label, + label{
					display: block;
				    line-height: 16px;
				    font-size: 16px;
				    padding: 5px 10px;
				}
			}
			&:not(:checked) ~ div > input[type="radio"]:checked + label{
			    position: relative;
			    z-index: -1;
			}
		}
	}
}



