body {
	font-family: @Roboto;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}
.inline-block {
	display: inline-block;
}

.fancybox-opened {
    z-index: 998030;
}

/* ICONS */
	.icons {
		height: 28px;
		width: 38px;
		border-right: 1px solid transparent;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: left center;
		margin: -9px 5px -9px 0;
		&-right {
			border-right: none;
			border-left: 1px solid transparent;
			margin: -9px 0 -9px 5px;
			background-position: right center;
		} 
		&.paper_fly{
			.retina-bg-mixin(~'white/paper_fly.png', ~'21px 19px');
			width: 30px;
		}
	}

	.fa {
		&-lirax{
			&:before{
				color: transparent;
				content: "\f111";
			}
		}
		&-nfc{
			.retina-bg-mixin(~'nfc-icon.png', ~'contain');
			background-position: center;
			background-repeat: no-repeat;
		}
	}

/* BACKGROUNDS */
	.bg{
		&-lightblue{
			background-color: #00add9;
		}
	}

/* BUTTONS */
	.btn {
		display: inline-block;
	    padding: 12px 22px;
	    margin-bottom: 0;
	    font-size: 14px;
	    line-height: 16px;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	    border: 1px solid #fff;
	    border-radius: 4px;
	    color: #fff;
	    text-decoration: none;
	    outline: none;
	    font-weight: 300;
	    &.border2x {
			border-width: 2px;
		}
	    &.border-lightblue{
	    	border-color: @lightBlue;
	    	&:hover {
	    		background: @lightBlue;
	    	}
	    }
	    &-border{
	    	&-white{
	    		border-color: #fff;
	    		background-color: transparent;
		    	&:hover {
		    		background: #fff;
		    		color: #00bff3;
		    	}
	    	}
	    }
	    &-absolute{
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	display: block;
	    	z-index: 1;
	    	left: 0;
	    	top: 0;
	    	border: none;
	    	padding: 0;
	    	background: transparent;
	    }
	    &-lightblue{
	    	background: @lightBlue;
	    	border-color: @lightBlue;
	    	.icons {
	    		border-color: fade(#fff, 50%);
	    	}
	    	&:hover{
	    		background: lighten(@lightBlue, 5%);
	    		border-color: lighten(@lightBlue, 5%);
	    	}
	    	
	    }
	    &-cayenne {
	    	background: #1f6598;
	    	border-color: #1f6598;
	    }
	    &-white{
	    	background: #fff;
	    	color: #08abd6;
	    	&-border{
		    	@whiteColor: #fff;
		    	border-color: @whiteColor;
		    	&:hover{
		    		background: @whiteColor;
		    		color: #000;
		    	}
		    }
	    }
	    &-yellow {
	    	@c: #ffff00;
	    	background: @c;
	    	color: #00586e;
	    	border-color: @c;
	    	&:hover {
				background: lighten(@c, 15%);
				border-color: lighten(@c, 15%);
	    	}
	    }
	    &.text-lightblue {
	    	color: @lightBlue;
	    	&:hover {
	    		color: #fff;
	    	}
	    }
	    &-round{
	    	border-radius: 50px;
	    }
	    &-tranparent {
	    	color: #0eadce;
	    	background: none;
	    }
	    &-big {
	    	font-size: 24px;
	    }
	    &-fullwidth{
			width: 100%;
			padding-left: 0; padding-right: 0;
	    }
	    &-link {
	    	color: #333;
	    	text-decoration: underline;
	    	border-color: transparent;
	    	padding-left: 0;
	    	padding-right: 0;
	    	&:hover {
	    		color: #333;
	    		text-decoration: none;
	    	}
	    }
	}

/* FORMS */
	form {
		.form-control {
			margin-bottom: 15px;
			input[type="text"], input[type="password"]{
				line-height: 14px;
				font-size: 14px;
				padding: 10px 18px;
				border: 1px solid #342468;
				width: 100%;
				box-sizing: border-box;
			}
		}
		.checkbox {
		  vertical-align: top;
		  margin: 0;
		  width: 22px;
		  height: 22px;
		  	+ label {
				cursor: pointer;
				padding: 0 0 0 30px;
				font-size: 12px; line-height: 24px;
			}
			&:not(checked) {
				position: absolute;
				opacity: 0;
				+ label {
					position: relative;
					display: block;
					&:before {
					  	content: '';
					  	position: absolute;
					  	top: 0;
					  	left: 0;
					  	width: 22px;
					  	height: 22px;
					  	background: #fff;
					  	border:1px solid #342468
					}
					&:after {
						content: '';
						position: absolute;
						top: 1px;
						left: 1px;
						width: 24px;
						height: 24px;
						color: #303030;
						line-height: 24px;
						text-align: center;  
					}
				}
			}
			&:checked{
				+ label{
					&:before {
						content: '\f00c';
						color: #303030;
						line-height: 24px;
						font-size: 16px;
						text-align: center;
						font-family: Fontawesome;
					}
				}
			} 
		}
	}

	.radio {
		vertical-align: top;
		width: 17px;
		height: 17px;
		margin: 0 3px 0 0;
		+ label {
			cursor: pointer;
		}
		&:not(checked) {
			position: absolute;
			opacity: 0;
			+ label {
				position: relative;
				padding: 0 0 0 28px;
				&:before {
					content: '';
					position: absolute;
					top: -3px;
					left: 0;
					width: 22px;
					height: 22px;
					border: 1px solid #9a0e6f;
					border-radius: 50%;
					background: #FFF;
				}
				&:after {
					content: '';
					position: absolute;
					top: 1px;
					left: 4px;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					.gradient(#9a0e6f, 10%);
					opacity: 0;
					transition: all .2s;
				}
			}
		}
		&:checked {
			+ label {
				&:after {
					opacity: 1;
				}
			}
		}
		&:focus {
			+ label{
				&:before {
					//box-shadow: 0 0 0 3px rgba(255,255,0,.5);
				}
			}
		}
	}

/* TABLES */
	.tablestyle {
		display: table;
		width: 100%;
	}
	.cell {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
	.table-row {
		display: table-row;
	}
	.table{
		&-style{
			display: table;
			width: 100%;
		}
		&-head{
			display: table-header-group;
			.table-cell{
				border-bottom: 1px solid #ddd;
				font-weight: 500;
				.box-sizing-mixin(border-box);
			}
		}
		&-body {
			display: table-row-group;
			.table-cell{
				border-top: 1px solid #ddd;
			}
		}
		&-row{
			display: table-row;
		}

		&-cell{
			display: table-cell;
			vertical-align: top;
			padding: 8px;
		}

		.table>caption+thead>tr:first-child>td, 
		.table>caption+thead>tr:first-child>th, 
		.table>colgroup+thead>tr:first-child>td, 
		.table>colgroup+thead>tr:first-child>th, 
		.table>thead:first-child>tr:first-child>td, 
		.table>thead:first-child>tr:first-child>th{}
	}
	
/* PADD & MARG */
	.pr-mixin(10);
	.pl-mixin(10);
	.pl-mixin(20);

	.m-0{
		margin: 0;
	}

/* MENU */
	.menu {
		list-style: none;
		margin: 0; padding: 0;
		li {
			float: left;
			a {
				text-decoration: none;
			}
			
		}
		&-justify{
			text-align: justify;
			line-height: 0;
			/* Opera Presto */
			font-size: 1px;

			/* IE6-7 */
			text-justify: newspaper; 
			zoom: 1;
			text-align-last: justify;
			&:after {
				width: 100%;
				height: 0px;
				visibility: hidden;
				overflow: hidden;
				content: "";
				display: inline-block;
			}
			li  {
				display: inline-block;
				text-align: left;
				float: none;
				/* Восстанавливаем обнулённые свойства */
				line-height: normal;
				font-size: 14px;

				/* Opera Presto */
				vertical-align: top;

				/* IE6-7 */
				//display : inline;
				//zoom : 1;
			}
		}
		.clearfix;
	}

/* BORDERS */
	.border-left{
		border-left: 2px solid fade(#32315a, 44%);
	}

/* Typograpfy */
	.getShow{
		display: none !important;
	}
	.wrap-block {
		overflow: hidden;
		padding: 60px 0;
		h2 {
			font-size: 40px;
		    line-height: 40px;
		    margin: 0 0 60px;
		    padding: 0;
		    font-weight: 100;
		    text-align: center;
		    + .desc {
				margin-top: -30px;
				line-height: 24px;
				margin-bottom: 30px	
			}
		}
	}
	.article {
		padding: 30px;
		font-size: 14px;
		color: #014456;
		h3 {
			color: #0f96ba;
			text-align: center;
			font-size: 23px;
			font-weight: 300;
		}
		p {
			line-height: 23px;
		}
		ol {
			color: #0f96ba;
			p {
				color: #014456;
			}
		}
	}
	.retina-ready {
		max-width: 100%;
	}
	.align{
		&-center {
			text-align: center;
		}
		&-right {
			text-align: right;
		}
		&-justify {
			text-align: justify;
		}
	}
	.no{
		&-padd{
			&-left{
				padding-left: 0;
			}
			&-right{
				padding-right: 0;
			}
		}
	}
	.tabs {
		.tab {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	label {
		cursor: pointer;
	}
	.default-page {
		padding: 15px 0 30px;
		.h-param(@size, @weight){
			@mt: floor(@size - @size/5);
			@mb: floor(@size - @size/3);
			font-weight: @weight;
			font-size: ~'@{size}px';
			line-height: ~'@{size}px';
			margin: ~'@{mt}px' 0 ~'@{mb}px'; 
			padding: 0;
		}
		.btn-block{
			margin-bottom: 20px;
		}
		h1 {
			.h-param(34, 400);
		}
		h2 {
			.h-param(30, 300);
		}
		h3 {
			.h-param(26, 400);
		}
		h4 {
			.h-param(22, 400);
		}
		h5 {
			.h-param(18, 500);
		}
		h6 {
			.h-param(16, 500);
		}
		p {
			margin: 0; padding: 0;
			+ p {
				margin-top: 8px;
			}
			a {
				color: #0eadce;
			}
		}

		ul, ol {
			margin-top: 0;
			li {
				+ li {
					margin-top: 8px;
				}
			}
		}
		blockquote {
			background: #eee;
			padding: 15px;
			font-style: italic;
			color: darken(#594794, 15%);
			font-size: 15px;
			border-left: 2px solid #594794;
			h4{
				margin: 0;
			}
		}
		table {
			width: 100%;
			margin-bottom: 20px;
			border-collapse: collapse;
			&.table {
				&-default{
					@mainColor: #666;
					.table-style-mixin(@mainColor);
				}
				&-blue{
					@mainColor: #0eadce;
					.table-style-mixin(@mainColor);
				}
				&-cayenne {
					@mainColor: #1f6598;
					.table-style-mixin(@mainColor);
			    }
			}
		}

	}

/* SLIDER */
	.slider {
		margin: 0;
		padding: 0;
		list-style: none;
	}

/* POPUP */
	.modal {
		display: none;
	}
	.default {
		position: relative;
		background: #0f0e40;
		padding: 50px;
		.close-icon {
			position: absolute;
			display: block;
			right: 20px; top: 20px;
			color: #91919f;
			height: 32px; width: 32px;
			border-radius: 50%;
			border: 1px solid #91919f;
			text-align: center;
			i {
				line-height: 32px;
				font-size: 17px;
			}
		}
		h2 {
			font-size: 30px;
			color: @lightBlue;
			height: 80px;
			font-weight: 100;
			margin: 0 0 20px;
			line-height: 80px;
			text-align: left;
			strong {
				font-weight: 300;
				color: #fff;
			}
			.pic {
				display: inline-block;
				width: 90px;
				height: 80px;
				float: left;
				border-right: 1px solid #57577a;
				margin-right: 20px;
				img {
					width: 65px;
					float: left;
				}
			}
		}
		.popup-instruction {
			.trow {
				.clearfix;
				margin-bottom: 20px;
				color: #fff;
				font-size: 17px;
				line-height: 22px;
				.cell{
					&:first-child{
						width: 32px;
						font-size: 37px;
						line-height: 37px;
						font-weight: 400;
						color: @lightBlue;
					}
				}
			}
		}
		.info {
			margin-top: 20px;
			color: #9a0e6f;
			font-size: 15px;
			margin-bottom: 30px;
			img {
				width: 38px;
				float: left;
				margin-right: 10px;
			}
		}
		.br-1 {
			border-right: 1px solid #57577a;
		}
		.bt-1 {
			border-top: 1px solid #57577a;
		}
		.action-btn-block {
			text-align: right;
			margin: 30px 0 0;
			padding-top: 10px;
			.close-link {
				float: right;
				line-height: 24px;
				color: @lightBlue;
				font-size: 14px;
				text-decoration: none;
				span {
					height: 24px; width: 24px;
					display: inline-block; float: left;
					text-align: center; border: 1px solid @lightBlue;
					border-radius: 50%;
					margin-right: 10px;
					i {
						line-height: 22px;
						color: #fff;
					}
				}
			}
		}
		form {
			.form-control{
				margin-bottom: 20px;
				input[type="text"]{
					background: none;
					border: 1px solid #fff;
					color: #fff;
				}
				label {
					color: #fff;
				}
			}
			.action-btn-block {
				text-align: center;
			}
		}
	}