@Roboto: 'Roboto', sans-serif;
@OpenSans: 'Open Sans',sans-serif !important;
@FA: FontAwesome;
@lightBlue: #0eadce;


@mediaLG: 1200px;
@mediaMD: 992px;
@mediaSM: 786px;
@mediaXS: 620px;

@mediaLGm: 1199px;
@mediaMDm: 991px;
@mediaSMm: 785px;
@mediaXSm: 619px;

@nameLG: ~'lg';
@nameMD: ~'md';
@nameSM: ~'sm';
@nameXS: ~'xs';
@nameXX: ~'xx';

@xs: ~'screen and (min-width: @{mediaXS})';
@sm: ~'screen and (min-width: @{mediaSM})';
@md: ~'screen and (min-width: @{mediaMD})';
@lg: ~'screen and (min-width: @{mediaLG})';

@xx-fix: ~'screen and (max-width: @{mediaXSm})';
@xs-fix: ~'screen and (min-width: @{mediaXS}) and (max-width: @{mediaSMm})';
@sm-fix: ~'screen and (min-width: @{mediaSM}) and (max-width: @{mediaMDm})';
@md-fix: ~'screen and (min-width: @{mediaMD}) and (max-width: @{mediaLGm})';
@lg-fix: ~'screen and (min-width: @{mediaLG})';


@xx: ~'screen and (max-width: @{mediaXSm})';
@xs-max: ~'screen and (max-width: @{mediaSMm})';


// container
	@cantainerLG: @mediaLG - 30;
	@cantainerMD: @mediaMD - 22;
	@cantainerSM: @mediaSM - 18;
	@cantainerXS: @mediaXS - 14;
	@containerMedia: @xs, @sm, @md, @lg;
	@cantainerArray: @cantainerXS, @cantainerSM, @cantainerMD, @cantainerLG;

// span, offset
	@mediaArray: @xs, @sm, @md, @lg;
	@spanArray: @nameXS, @nameSM, @nameMD, @nameLG;

// visible 
	@mediaFixArray: @xs-fix, @sm-fix, @md-fix, @lg-fix;

@margins-bottom: 20, 30, 50;



