@font-face{font-family:"Flaticon";src:url("./Flaticon.eot");src:url("./Flaticon.eot?#iefix") format("embedded-opentype"),
url("./Flaticon.woff") format("woff"),
url("./Flaticon.ttf") format("truetype"),
url("./Flaticon.svg#Flaticon") format("svg");font-weight:normal;font-style:normal;}
@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:"Flaticon";src:url("./Flaticon.svg#Flaticon") format("svg");}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after{font-family:Flaticon;font-size:20px;font-style:normal;margin-left:20px;}
.flaticon-arrow:before{content:"\f100";}
.flaticon-business:before{content:"\f101";}
.flaticon-business-card:before{content:"\f102";}
.flaticon-businessman-outline:before{content:"\f103";}
.flaticon-calendar:before{content:"\f104";}
.flaticon-chronometer:before{content:"\f105";}
.flaticon-clock:before{content:"\f106";}
.flaticon-coins:before{content:"\f107";}
.flaticon-coins-1:before{content:"\f108";}
.flaticon-comfortable-office-worker-with-his-legs-lying-on-the-desk:before{content:"\f109";}
.flaticon-computer:before{content:"\f10a";}
.flaticon-delivery-package-opened:before{content:"\f10b";}
.flaticon-exit-to-app-button:before{content:"\f10c";}
.flaticon-four-pieces-puzzle:before{content:"\f10d";}
.flaticon-hierarchical-structure:before{content:"\f10e";}
.flaticon-interface:before{content:"\f10f";}
.flaticon-network-cloud:before{content:"\f110";}
.flaticon-people:before{content:"\f111";}
.flaticon-smartphone:before{content:"\f112";}
.flaticon-smartphone-with-reload-arrows:before{content:"\f113";}
.flaticon-technology:before{content:"\f114";}
.flaticon-telephone:before{content:"\f115";}
.flaticon-telephone-1:before{content:"\f116";}